<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>

  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->

  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- End Promo Block Content -->

</section>
<!-- End Promo Block -->

 

<section class="g-py-100">
  <div class="container">
    <header class="g-mb-30  g-color-black">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           Abstract submission
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>

      <div class="g-mb-30 text-center">
        <p class="lead mb-0">
          <b>Abstract submission is now open and 
             final date for the submission is June 16 2019.
          </b>
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          Prior to submission, please note that abstracts for invited talks and contributed posters are to be
          submitted as a one-page PDF file through the online submission system on this
          website. Abstracts should follow the 
          <a href="assets/pdf/firstname_lastname.tex"download>LaTeX template</a>
          or the
          <a href="assets/pdf/firstname_lastname.docx"download>Word template</a>
          of ISTCP-2019. A brief synopsis of up to 500 characters is also required for online
          submission of the abstract. We strongly recommend to prepare the synopsis in advance 
          and copy it into the submission form. The final conference website will contain the title,
          the name of the presenting author, the short synopsis, and link to the full abstract
          as PDF.
        </p>
      </div>

      <div class="text-center">
        <a class="typeform-share button" href="https://repisky.typeform.com/to/lMbswU" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#0C0C0C;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Submit Now </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
      </div>

    </header>
  </div>
</section>
