<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<section class="g-py-100">
  <div class="container">
    <header class="g-mb-30  g-color-black">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           Accommodation 
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          Our collaborating hotels are
          <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/clarion-hotel-the-edge/">Clarion Hotel The Edge</a> 
          (conference venue, no rooms available for the night July 11-12 2017),
          <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/clarion-collection-hotel-with/">Clarion Collection Hotel With</a>, both 
 providing a full breakfast buffet in the price, 
          or
          at <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/comfort-hotel-xpress-tromso/">Comfort
          Hotel Xpress Tromsø.</a> . If you book your room at Comfort
          Hotel Express Tromsø, breakfast can be bought at the
          conference venue Clarion Hotel The Edge for NOK 150. You may still obtain hotel rooms for a reduced rate if you contact the hotels directly and include the hotel booking code obtained during registration. Please observe that rooms reserved using this reduced rate is non-refundable.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          <b> You may also try to contact the hotels directly by e-mail:
	  <ul>
	    <li> <b>Clarion Collection The Edge:</b> cl.theedge .at. choice.no / kine.konst .at. choice.no  
	    <li> <b>Clarion Collection Hotel With:</b> lina.carlsson .at. choice.no
	    <li> <b>Comfort Hotel Xpress:</b> tina.lorentzen .at. choice.no
	  </ul>
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
 There are also other hotels in
          Tromsø as well as several AirBnB options. However, Tromsø is
          a small town and an attractive tourist destination, so <b> we
          recommend booking hotel rooms as soon as possible </b>. 
        </p>
      </div>


    </header>
  </div>
</section>
