<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<section class="g-py-100">
  <div class="container">
    <header class="g-mb-30  g-color-black">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           Accommodation 
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          We have negotiated special discounted hotel rates for conference participants at 
          <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/clarion-hotel-the-edge/">Clarion Hotel The Edge</a>           (which is also the conference venue), 
          <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/clarion-collection-hotel-with/">Clarion Collection Hotel With</a>, 
          both at a price of NOK 900 for a regular room. The price includes a full breakfast buffet. 
          We have also reserved rooms as a discounted rate at 
          <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/comfort-hotel-xpress-tromso/">Comfort Hotel Express</a>
          at a price of NOK 750 for a regular room, breakfast <b>not</b> included.
        </p>
      </div>
 
      <div class="g-mb-30">
        <p class="lead mb-0">
          We recommend conference participants to consider staying at The Edge,
          as we in this way can make the hotel fully occupied by the conference
          and the conference participants, allowing for lively scientific
          discussions into the long hours of the white nights.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          Once you have completed your registration for the conference, you will
          receive a <b>hotel registration code</b> that you can use when booking you
          accommodation at the conference hotels to get the reduced rates.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          The reduced rates are available for the period 9-19 July 2019,
          and availability of rooms is based on a first come, first served
          basis, so we recommend to register early for the conference and to
          also book your accommodation early if you have special preferences for hotel.
        </p>
      </div>

    </header>
  </div>
</section>
