<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<section class="g-py-100">
  <div class="container">
    <header class="g-mb-30  g-color-black">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           Bursaries for primary caregivers
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
	  ISTCP-X offers a limited number of bursaries for primary
	  caregivers. These are intended to cover (in part) the
	  additional costs incurred from attending the ISTCP-X
	  congress. A cap of 10 000 NOK may be imposed in case of a
	  large number applications in order to allow us to support as
	  many primary caregivers attending the conference as possible.
	</p>
	<p class="lead mb-0">
	  Priority will be given to invited speakers, session chairs
	  and members of the scientific committee. Applicants
 holding a PhD degree will also be given priority.
        </p>
	<p class="lead mb-0">
	  Applications are to be submitted to info@istcp-2019.org
	  by <b>March 15 2019</b>. Applicants will be notified of the
	  outcome of the application by <b>April 1 2019.</b>
	</p>
	<p class="lead mb-0">
	  The bursaries will only be paid against documented expenses
	  submitted to info@istcp-2019.org after the end of the conference.
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
	  Although other expenses may be considered, the bursaries
	  are primarily meant to provide support for:
	  <ul>
	    <li> Caregiving/Child care services at home (receipts
	    must be provided).</li>
	    <li> Travel and accommodation expenses for child(ren) and/or
	    caregiver to the conference. It is expected that children
	    and caregiver to as large extent as possible share
	    accommodation with the primary caregiver during the
	    conference.</li> 
	    <li> Travel expenses for caregivers to the home of the primary
	    caregiver.</li>
	    <li> Travel for child(ren) to the home of their caregivers.</li>
	  </ul>
        </p>
      </div>
    </header>
  </div>
</section>

