<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->


<section class="container g-pt-100 g-pb-70">
  <!-- Internation Committee -->
  <div class="row justify-content-center g-mb-60">
    <div class="col-lg-7">
      <!-- Heading -->
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">International Advisory Committee</h2>
        <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
      </div>
      <!-- End Heading -->
      <div class="row">
        <div class="col-sm-13 col-lg-3 g-mb-60">
          <!-- Static Block -->
          <div class="text-left">
               <a href="https://uit.no/om/enhet/ansatte/person?p_document_id=41020&p_dimension_id=88107">Kenneth Ruud (Norway, Chair)</a>
          </div>
          <!-- End Static Block -->
        </div>
        <div class="col-sm-13 col-lg-3 g-mb-60">
          <!-- Static Block -->
          <div class="text-left">
               <a href="http://katalog.uu.se/profile/?id=XX906">Erkki Brändas (Sweden, Vice-Chair)</a>
          </div>
          <!-- End Static Block -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9 col-lg-3 g-mb-60">
          <!-- Static Block -->
          <div class="text-left">
            <ul class="lead mb-0">
               <li><a href="https://chem.wsu.edu/faculty/aurora-clark/">Aurora Clark (USA)</a></li>
               <li><a href="http://research.chem.ox.ac.uk/david-clary.aspx">David Clary (UK)</a></li>
               <li><a href="http://www.sussex.ac.uk/profiles/9493">Hazel Cox (UK)</a></li>
               <li><a href="http://chemistry.anu.edu.au/people/peter-gill">Peter Gill (Australia)</a></li>
            </ul>
          </div>
          <!-- End Static Block -->
        </div>
        <div class="col-sm-9 col-lg-3 g-mb-60">
          <!-- Static Block -->
          <div class="text-left">
            <ul class="lead mb-0">
               <li><a href="http://theochem.univie.ac.at/member/?uid=7">Leticia Gonzalez (Austria)</a></li>
               <li><a href="http://katalog.uu.se/empinfo/?id=XX2483">Kersti Hermansson (Sweden)</a></li>
               <li><a href="http://tiger.chem.uw.edu.pl/index.php?i=jeziorsk">Bogumil Jeziorski (Poland)</a></li>
               <li><a href="http://chem.usc.edu/faculty/Krylov.html">Anna Krylov (USA)</a></li>
            </ul>
          </div>
          <!-- End Static Block -->
        </div>
        <div class="col-sm-9 col-lg-3 g-mb-60">
          <!-- Static Block -->
          <div class="text-left">
            <ul class="lead mb-0">
               <li><a href="http://itcc.nju.edu.cn/~shuhua/">Shuhua Li (China)</a></li>
               <li><a href="http://www.chem.waseda.ac.jp/nakai/?page_id=1520&lang=en">Hiromi Nakai (Japan)</a></li>
               <li><a href="http://dornsife.usc.edu/labs/prezhdo-group/oleg-prezhdo/">Oleg Prezhdo (USA)</a></li>
               <li><a href="http://dqfnet.ufpe.br/biomat/tasoares/Welcome.html">Thereza Soares (Brasil)</a></li>
            </ul>
          </div>
          <!-- End Static Block -->
        </div>
    </div>
  </div>
  <!-- End Internation Committee -->

  <!-- Local Committee -->
  <div class="row justify-content-center g-mb-60">
    <div class="col-lg-10">
      <!-- Heading -->
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">Local Organizing Committee (UiT)</h2>
        <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
      </div>
      <p></p>
      <!-- End Heading -->
      <div class="row">
        <div class="col-sm-6 col-lg-3 g-mb-60">
          <!-- Static Block -->
          <div class="text-left">
            <ul class="lead mb-0">
               <li><a href="https://en.uit.no/om/enhet/ansatte/person?p_document_id=302990&p_dimension_id=88139">Maarten Beerepoot</a></li>
               <li><a href="https://uit.no/om/enhet/ansatte/person?p_document_id=41014&p_dimension_id=88139">Bjørn Olav Brandsdal</a></li>
            </ul>
          </div>
          <!-- End Static Block -->
        </div>
      
        <div class="col-sm-6 col-lg-3 g-mb-60">
          <!-- Static Block -->
          <div class="text-left">
            <ul class="lead mb-0">
               <li><a href="https://uit.no/om/enhet/ansatte/person?p_document_id=41091&p_dimension_id=144">Stig Eide</a></li>
               <li><a href="https://uit.no/om/enhet/ansatte/person?p_document_id=41048&p_dimension_id=88139">Luca Frediani</a></li>
            </ul>
          </div>
          <!-- End Static Block -->
        </div>
      
        <div class="col-sm-6 col-lg-3 g-mb-60">
          <!-- Static Block -->
          <div class="text-left">
            <ul class="lead mb-0">
               <li><a href="https://uit.no/om/enhet/ansatte/person?p_document_id=81617&p_dimension_id=144">Bin Gao</a></li>
               <li><a href="https://en.uit.no/om/enhet/ansatte/person?p_document_id=77623&p_dimension_id=88139">Kathrin Hopmann</a></li>
            </ul>
          </div>
          <!-- End Static Block -->
        </div>
      
        <div class="col-sm-6 col-lg-3 g-mb-60">
          <!-- Static Block -->
          <div class="text-left">
            <ul class="lead mb-0">
               <li><a href="https://en.uit.no/om/enhet/ansatte/person?p_document_id=165784&p_dimension_id=88139">Michal Repisky</a></li>
               <li><a href="https://uit.no/om/enhet/ansatte/person?p_document_id=41020&p_dimension_id=88107">Kenneth Ruud</a></li>
            </ul>
          </div>
          <!-- End Static Block -->
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Local Committee -->
</section>
