<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->



<section class="g-py-100">
  <!-- Internation Committee -->
  <div class="container">
    <!-- Heading -->
    <div class="text-center">
      <h2 class="h3 g-color-black text-uppercase mb-2">International Advisory Committee</h2>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://media.snl.no/system/images/36707/standard_Kenneth-mini.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://uit.no/om/enhet/ansatte/person?p_document_id=41020&p_dimension_id=88107">
                 Kenneth Ruud (Chair) 
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> UiT The Arctic University of Norway, Norway 
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://i1.rgstatic.net/ii/profile.image/277170959208459-1443094114995_Q512/Erkki_Braendas.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://katalog.uu.se/profile/?id=XX906">
                 Erkki Brändas (Vice-Chair)
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Uppsala University, Sweden
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <!-- Committee Members -->
    <div class="row g-mb-30">
      <!-- Row First -->
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://chem.wp.wsu.edu/physicaldivision/wp-content/uploads/sites/71/2013/09/Clark_Aurora-2.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://chem.wsu.edu/faculty/aurora-clark/">
                 Aurora Clark
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Washington State University, USA 
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.magd.ox.ac.uk/wordpress/wp-content/uploads/2013/09/David-Clary-2005.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://research.chem.ox.ac.uk/david-clary.aspx">
                 David Clary
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Oxford, UK
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://sites.uom.ac.mu/vccc/images/stories/Cox.jpeg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://www.sussex.ac.uk/profiles/9493">
                 Hazel Cox
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Sussex, UK
              </span>
            </div>
          </li>
        </ul>
      </div>
      <!-- End Row First -->

      <!-- Row Second -->
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://chemistry.anu.edu.au/files/peter_gill_0.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://chemistry.anu.edu.au/people/peter-gill">
                 Peter Gill
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Australian National University, Australia 
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.academia-net.org/sixcms/media.php/1252/thumbnails/Gonz%C3%A1les%2C-Leticia-korr.1095709.jpg.2774485.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://theochem.univie.ac.at/member/?uid=7">
                 Leticia Gonzalez
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Vienna, Austria
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www-conference.slu.se/mqm2016/images/Hermansson.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://katalog.uu.se/empinfo/?id=XX2483">
                 Kersti Hermansson 
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Uppsala University, Sweden
              </span>
            </div>
          </li>
        </ul>
      </div>

      <!-- Row Third -->
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.iaqms.org/images/members/jeziorski.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://tiger.chem.uw.edu.pl/index.php?i=jeziorsk">
                 Bogumil Jeziorski
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Warsaw, Poland 
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://lh3.googleusercontent.com/-Xl290PJ-598/AAAAAAAAAAI/AAAAAAAAA08/kONMrjLdX78/s640/photo.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://chem.usc.edu/faculty/Krylov.html">
                 Anna Krylov 
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Southern California, USA 
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://pubs.rsc.org/services/images/RSCpubs.ePlatform.Service.FreeContent.ImageService.svc/ImageService/Articleimage/2011/CP/c0cp01103g/c0cp01103g-p4.gif" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://itcc.nju.edu.cn/~shuhua/">
                 Shuhua Li
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Nanjing University, China 
              </span>
            </div>
          </li>
        </ul>
      </div>

      <!-- Row Fourth -->
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://i1.rgstatic.net/ii/profile.image/277575487246346-1443190561884_Q512/Hiromi_Nakai.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://www.chem.waseda.ac.jp/nakai/?page_id=1520&lang=en">
                 Hiromi Nakai 
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Waseda University, Japan 
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.skoltech.ru/app/data/uploads/sites/2/2014/12/Oleg-Prezhdo-University-of-Southern-California.png" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://dornsife.usc.edu/labs/prezhdo-group/oleg-prezhdo/">
                 Oleg Prezhdo 
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Southern California, USA 
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://www3.ufpe.br/dqf/images/stories/fotos/therezasoares.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://dqfnet.ufpe.br/biomat/tasoares/Welcome.html">
                 Thereza Soares
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Universidade Federal de Pernambuco, Brazil 
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Committee Members -->
    <div class="row g-mb-30">
    </div>
  </div>
  <!-- End Internation Committee -->



  <!-- Local Committee -->
  <div class="container">
    <!-- Heading -->
    <div class="text-center">
      <h2 class="h3 g-color-black text-uppercase mb-2">Local Organizing Committee (UiT)</h2>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="row g-mb-30">
      <!-- Committee Members -->
      <div class="col-lg-3 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://en.uit.no/Content/354029/cache=20131810092043/transformation=scale10000x180/maarten_big2.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://en.uit.no/om/enhet/ansatte/person?p_document_id=302990&p_dimension_id=88139">
                 Maarten Beerepoot
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.mn.uio.no/hylleraas/english/people/pics/brandsdal-150.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://uit.no/om/enhet/ansatte/person?p_document_id=41014&p_dimension_id=88139">
                 Bjørn Olav Brandsdal
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.ctcc.no/people/administrative-staff/stig-eide/stig-small.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://uit.no/om/enhet/ansatte/person?p_document_id=41091&p_dimension_id=144">
                 Stig Eide
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://docplayer.me/docs-images/64/50972794/images/7-1.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://uit.no/om/enhet/ansatte/person?p_document_id=41048&p_dimension_id=88139">
                 Luca Frediani
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.ctcc.no/people/researchers/bin-gao/photo_bin_gao.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://uit.no/om/enhet/ansatte/person?p_document_id=81617&p_dimension_id=144">
                 Bin Gao
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://www.ctcc.no/people/administrative-staff/repisky/repisky-150.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://en.uit.no/om/enhet/ansatte/person?p_document_id=165784&p_dimension_id=88139">
                 Michal Repisky
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://media.snl.no/system/images/36707/standard_Kenneth-mini.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://uit.no/om/enhet/ansatte/person?p_document_id=41020&p_dimension_id=88107">
                 Kenneth Ruud
              </a>
            </div>
          </li>
        </ul>
      </div>
      <!-- Committee Members -->
    </div>
  </div>
  <!-- End Local Committee -->
</section>
