<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->


<section class="g-py-100">
  <div class="container">
    <header class="g-mb-50 g-color-black">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           Conference Excursions
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0 text-center">
          The conference organizers together with Moment Norway provide you with various opportunities for
          conference excursion. The Moment Norway registration desk will be open during the conference, however, 
          we strongly recommend booking an excursion trip in advance (no payment required).
        </p>
      </div>

      <div class="container g-color-black text-center g-z-index-1">
        <a class="btn u-btn-outline-white g-color-black g-bg-black-opacity-0_1 g-color-white--hover g-bg-black--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-13" href="#">Book Now</a>
      </div-->

    </header>
  </div>
</section>

<section class="container g-py-100">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_01.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_02.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_03.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_04.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_05.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_06.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_07.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_08.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_09.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_10.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_11.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_12.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_13.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_14.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
  <img class="img-fluid w-100 g-mb-30" src="assets/img/activities/300dpi/Activities_Page_15.jpg" alt="Image"><hr class="g-brd-gray-light-v2 g-my-40">
</section>
