<!-- Promo Block -->
<section class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-min-height-100vh g-flex-centered g-py-100" style="background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  <div class="container g-color-white text-center g-z-index-1">
    <div class="mb-5">
      <h2 class="g-font-weight-700 g-font-size-40 g-font-size-70--md text-uppercase g-mb-30">
          ISTCP 2019
      </h2>
      <h3 class="g-font-weight-700 g-font-size-35 g-font-size-40--md g-mb-30">
          10th Triennial Congress of the International
          Society for Theoretical Chemical Physics 
      </h3>
      <p class="g-font-size-35 mb-4">July 11-17, 2019</p>
      <p class="g-font-size-35 mb-4">Tromsø, Norway</p>
    </div>
    <a class="js-go-to btn u-btn-outline-white g-color-white g-bg-white-opacity-0_1 g-color-black--hover g-bg-white--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-13" href="#" data-target="#content">Pre-registration to come soon</a>
  </div>
</section>
<!-- End Promo Block -->


<!-- Icon Blocks -->
<div class="row no-gutters g-brd-bottom--lg g-brd-gray-light-v4">
  <div class="col-lg-4 g-pa-60">
    <!-- Icon Blocks -->
    <div class="text-center">
      <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
          <i class="icon-finance-086 u-line-icon-pro"></i>
        </span>
      <h3 class="h4 g-color-gray-dark-v2 mb-3">
         Creative ideas
      </h3>
      <p class="mb-0">  
        ISTCP-X continues in the tradition of presenting the achievement and advances of
        all areas of theoretical chemical physics, with special emphasis on the
        interaction between experimental and theoretical physical chemistry.
      </p>
      <p></p> 
      <p class="mb-0">  The scope of ISTCP-X will cover a broad range of topics that include
      </p>
    </div>
    <!-- End Icon Blocks -->
  </div>

  <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-pa-60">
    <!-- Icon Blocks -->
    <div class="text-center">
      <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
          <i class="icon-education-031 u-line-icon-pro"></i>
        </span>
      <h3 class="h4 g-color-gray-dark-v2 mb-3">
         Excellent speakers
      </h3>
      <p class="mb-0"> 
        List of speakers to come.
      </p>
    </div>
    <!-- End Icon Blocks -->
  </div>

  <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-pa-60">
    <!-- Icon Blocks -->
    <div class="text-center">
      <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
          <i class="icon-travel-044 u-line-icon-pro"></i>
        </span>
      <h3 class="h4 g-color-gray-dark-v2 mb-3">
         Unique location
      </h3>
      <p class="mb-0">
        Text to come.
      </p>
    </div>
    <!-- End Icon Blocks -->
  </div>
</div>
<!-- End Icon Blocks -->
