<!-- Promo Block -->
<section class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-black-opacity-0_3--after g-min-height-100vh g-flex-centered g-py-100" style="background-image: url(assets/img/tromso/Tromso_Michal_scaled.jpg);">
  <div class="container g-color-white text-center g-z-index-1">
    <div class="mb-5">
      <h2 class="g-font-weight-700 g-font-size-40 g-font-size-70--md text-uppercase g-mb-30">
          ISTCP 2019
      </h2>
      <h3 class="g-font-weight-700 g-font-size-35 g-font-size-40--md g-mb-30">
          10th Triennial Congress of the International
          Society for Theoretical Chemical Physics 
      </h3>
      <p class="g-font-size-35 mb-4">July 11-17, 2019</p>
      <p class="g-font-size-35 mb-4">Tromsø, Norway</p>
    </div>
    <a class="btn u-btn-outline-white g-color-white g-bg-white-opacity-0_1 g-color-black--hover g-bg-white--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-13" href="registration.html">Pre-register Now</a>
  </div>
</section>
<!-- End Promo Block -->


<!-- Icon Blocks -->
<div class="row no-gutters g-brd-bottom--lg g-brd-gray-light-v4">
  <div class="col-lg-4 g-pa-60">
    <!-- Icon Blocks -->
    <div class="text-center">
      <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
          <i class="icon-finance-086 u-line-icon-pro"></i>
        </span>
      <h3 class="h4 g-color-gray-dark-v2 mb-3">
         Creative ideas
      </h3>
      <p class="mb-0">  
        ISTCP-X continues in the tradition of presenting the achievement and advances of
        all areas of theoretical chemical physics, with special emphasis on the
        interaction between experimental and theoretical physical chemistry.
      </p>
      <p></p> 
      <p class="mb-0">  The scope of ISTCP-X will cover a broad range of topics that will include
	<ul style="list-style-type:square">
	  <li>Electron and nuclear dynamics: From attoseconds to picoseconds</li>
	  <li>Relativistic and QED effects and atoms, molecules and solids</li>
	  <li>Emerging electronic structure methods</li>
	  <li>Multiscale modeling, including focussed models</li>
	  <li>Large-scale electronic structure models of materials</li>
	  <li>Ultracold chemistry and physics</li>
	  <li>Molecular properties and chemical insight</li>
	  <li>Hylleraas symposium (r12 methods and highly accurate calculations)</li>
	  <li>Theoretical and experimental spectroscopy: from X-rays to microwaves</li>
	  <li>Biophysics</li>
	  <li>Path-integral and semi-classical methods</li>
	  <li>Physical organic chemistry and catalysis</li>
	</ul>
      </p>
    </div>
    <!-- End Icon Blocks -->
  </div>

  <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-pa-60">
    <!-- Icon Blocks -->
    <div class="text-center">
      <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
          <i class="icon-education-031 u-line-icon-pro"></i>
        </span>
      <h3 class="h4 g-color-gray-dark-v2 mb-3">
	Plenary speakers (confirmed)
      </h3>
      <p class="mb-0"> 
        Sylvio Canuto (Brazil)
      </p>
      <p class="mb-0"> 
        Trygve Helgaker (Norway)
      </p>
      <p class="mb-0"> 
        Thomas F. Miller III (USA)
      </p>
      <p class="mb-0"> 
        Peter Saalfrank (Germany)
      </p>
      <p class="mb-0"> 
        Zhigang Shuai (China)
      </p>
    </div>
    <!-- End Icon Blocks -->
  </div>

  <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-pa-60">
    <!-- Icon Blocks -->
    <div class="text-center">
      <span class="d-inline-block u-icon-v3 u-icon-size--xl g-font-size-36 g-bg-primary g-color-white rounded-circle g-mb-20">
          <i class="icon-travel-044 u-line-icon-pro"></i>
        </span>
      <h3 class="h4 g-color-gray-dark-v2 mb-3">
         Unique location
      </h3>
      <p class="mb-0">
        Tromsø is located at 69&deg 41' north, 350 km north of the
        Arctic circle, and is home to the world's northernmost
        university, <a href="http://www.uit.no">UiT The Arctic University of Norway</a>. 
        The city is often referred to as the 
        <a href="https://en.wikipedia.org/wiki/Troms%C3%B8#1700s_and_1800s:_the_&#34Paris_of_the_north&#34">
          "Paris of the North"
        </a> 
        and the
        <a href="https://www.visittromso.no/en/History_Tromso">
          "Gateway to the Arctic"
        </a>, and is home to about 75000
        inhabitants. The midnight sun period lasts from May 20-July
        22 during which the sun never sets.
      </p>
    </div>
    <!-- End Icon Blocks -->
  </div>
</div>
<!-- End Icon Blocks -->
