<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<section class="g-py-100">
  <div class="container">
    <header class="g-mb-30  g-color-black">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           About ISTCP
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>
    </header>
    <div class="g-mb-30">
      <p class="lead mb-0">
        Held every three years, the congresses of the International
        Society of Theoretical Chemical Physics (ISTCP) continue the
        tradition of showcasing the achievement and advances of all
        areas of theoretical chemical physics, with special emphasis
        on the interaction between experimental and theoretical
        physical chemistry, chemical physics, materials and life
        sciences.  
      </p>
    </div> 
    <!-- Heading -->
    <div class="text-center">
      <h2 class="h4 g-color-black text-uppercase mb-2">Founder of ISTCP</h2>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="row g-mb-30">
      <div class="col-lg-1 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">                                                     
              <img class="g-width-40 g-height-40" src="https://aat.mta.hu/aat/FileData/Get/759" alt="Image Description">
            </div>
            <div class="media-body">
                 Janos Ladik
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Germany)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Heading -->
    <div class="text-center">
      <h2 class="h4 g-color-black text-uppercase mb-2">President of ISTCP</h2>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="row g-mb-30">
      <!-- Row First -->
      <div class="col-lg-1 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">                                                     
              <img class="g-width-40 g-height-40" src="https://i1.rgstatic.net/ii/profile.image/277170959208459-1443094114995_Q512/Erkki_Braendas.jpg" alt="Image Description">     
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3"
                 href="http://katalog.uu.se/profile/?id=XX906">
                 Erkki J. Brändas
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Sweden)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Heading -->
    <div class="text-center">
      <h2 class="h4 g-color-black text-uppercase mb-2">Vice-presidents of ISTCP</h2>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="row g-mb-30">
      <!-- Row First -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">                                                     
              <img class="g-width-40 g-height-40" src="http://chemistry.anu.edu.au/files/peter_gill_0.jpg" alt="Image Description">     
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3"
                 href="http://chemistry.anu.edu.au/people/peter-gill">
                 Peter Gill
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Australia)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">                                                     
              <img class="g-width-40 g-height-40" src="https://lh3.googleusercontent.com/-Xl290PJ-598/AAAAAAAAAAI/AAAAAAAAA08/kONMrjLdX78/s640/photo.jpg" alt="Image Description">     
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3"
                 href="http://chem.usc.edu/faculty/Krylov.html">
                 Anna Krylov
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (USA)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Heading -->
    <div class="text-center">
      <h2 class="h4 g-color-black text-uppercase mb-2">Honorary Board</h2>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->

    <!-- Row First -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://www.nasfaa.org/uploads/images/50anniv/Rodney_Bartlett.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://people.clas.ufl.edu/rodbartl/">
                 Rodney J. Bartlett
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (USA)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://www.ch.cam.ac.uk/files/styles/portrait/public/portraits/adb1000.jpg?itok=QbDAzA_1" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://www.ch.cam.ac.uk/person/adb1000">
                 A. David Buckingham
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (United Kingdom)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://academictree.org/photo/006/cache.056483.Ernest_Davidson.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://depts.washington.edu/chem/people/faculty/davidson.html">
                 Ernest R. Davidson
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (USA)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row First -->

    <!-- Row Second -->
    <div class="row g-mb-30">

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
	<ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://www.cs.ubc.ca/~cff/cff-bru.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://www.cs.ubc.ca/~cff/">
                 Charlotte Froese Fischer
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Canada)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://physics.tamu.edu/images/directory/person/316002301.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://faculty.chemistry.harvard.edu/dudley-herschbach/home">
                 Dudley R. Herschbach
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (USA)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://www.academy.ac.il/Index2/BinaryWrite.axd?fileId=22291&fileExtension=.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://www.tau.ac.il/chemistry/jortner/">
                 Joshua Jortner
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Israel)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Second First -->

    <!-- Row Third -->
    <div class="row g-mb-30">

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://fy.chalmers.se/~f3ail/Il.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://www.physics.gu.se/english/about-the-department/staff?languageId=100001&userId=xlings">
                 Ingvar Lindgren
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Sweden)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://users.clas.ufl.edu/harrisfe/March_test/mimages/NormanSan.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="">
                 Norman H. March
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Belgium)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://royalsociety.org/~/media/events/2018/04/chemical-dynamics/william-miller.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://www.cchem.berkeley.edu/millergrp/">
                 William H. Miller
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (USA)
              </span>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <!-- End Second First -->

    <!-- Row Third -->
    <div class="row g-mb-30">

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://www.famousbirthdays.com/faces/marcus-rudolph-image.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://www.cce.caltech.edu/content/rudolph-rudy-marcus">
                 Rudolph A. Marcus
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (USA)
              </span>
            </div>
          </li>
        </ul>
      </div>
      <!-- End Fourth -->
    </div>

    <!-- Heading -->
    <div class="text-center">
      <h2 class="h4 g-color-black text-uppercase mb-2">Board of Directors</h2>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->

    <!-- Heading -->
    <div class="text-center">
      <h2 class="h4 g-color-black text-uppercase mb-2">National Representatives</h2>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
  </div>
</section>


    <!-- Row First -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row First -->

    <!-- Row Second -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Second First -->

    <!-- Row Third -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Third -->

    <!-- Row Fourth -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Fourth -->

    <!-- Row Fifth -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Fifth -->

    <!-- Row Sixth -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Sixth -->

    <!-- Row Seventh -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Seventh -->

    <!-- Row Eighth -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Eigth -->

    <!-- Row Nine -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Nine -->

    <!-- Row Ten -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Ten -->

    <!-- Row Eleven -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Eleven -->

    <!-- Row Twelve -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Twelve -->

    <!-- Row Thirteen -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Thirteen -->

    <!-- Row Fourteen -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Fourteen -->

    <!-- Row Fifteen -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Fifteen -->

    <!-- Row Sixteen -->
    <div class="row g-mb-30">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
		Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="Picture" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="Web">
                 Name
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> (Affiliation)
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End Row Sixteen -->

