<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->


<section class="container g-pt-100 g-pb-70">

  <div class="row justify-content-center g-mb-60">
    <div class="col-lg-10">
      <div class="text-center g-color-black">
        <h2 class="h3 text-uppercase mb-2">
           Program 
        </h2>
        <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
        <!--p class="lead mb-0">
	  The planning of the conference is still in an early phase and
          changes may still happen. We plan to open the conference on July 11 at 17:00,
          and to end the conference on July 17 at 12:00.
        </p-->
        <p class="lead mb-0">
          The current outline of the program is indicated in the table below.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <div class="table-responsive" id="top">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th></th>
                    <th><a href="#July11" style="color:white;">July 11, 2019</a></th>
                    <th><a href="#July12" style="color:white;">July 12, 2019</a></th>
                    <th><a href="#July13" style="color:white;">July 13, 2019</a></th>
                    <th><a href="#July14" style="color:white;">July 14, 2019</a></th>
                    <th><a href="#July15" style="color:white;">July 15, 2019</a></th>
                    <th><a href="#July16" style="color:white;">July 16, 2019</a></th>
                    <th><a href="#July17" style="color:white;">July 17, 2019</a></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>08:30</th>
                    <th></th>
                    <th class="g-bg-primary"><a href="#July12/0830" style="color:black;">Plenary <br>Lectures</a></th>
                    <th class="g-bg-primary"><a href="#July13/0830" style="color:black;">Plenary <br>Lectures</a></th>
                    <th class="g-bg-blue">   <a href="#July14/0830" style="color:black;">Parallel<br>Sessions</a></th>
                    <th class="g-bg-primary"><a href="#July15/0830" style="color:black;">Plenary <br>Lectures</a></th>
                    <th class="g-bg-primary"><a href="#July16/0830" style="color:black;">Plenary <br>Lectures</a></th>
                    <th class="g-bg-blue">   <a href="#July17/0830" style="color:black;">Parallel<br>Sessions</a></th>
                  </tr>
                  <tr>
                    <th>10:00</th>
                    <th></th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                  </tr>
                  <tr>
                    <th>10:30</th>
                    <th></th>
                    <th class="g-bg-blue">   <a href="#July12/1030" style="color:black;">Parallel<br>Sessions         </a></th>
                    <th class="g-bg-blue">   <a href="#July13/1030" style="color:black;">Parallel<br>Sessions         </a></th>
                    <th class="g-bg-blue">   <a href="#July14/1030" style="color:black;">Parallel<br>Sessions         </a></th>
                    <th class="g-bg-blue">   <a href="#July15/1030" style="color:black;">Parallel<br>Sessions         </a></th>
                    <th class="g-bg-blue">   <a href="#July16/1030" style="color:black;">Parallel<br>Sessions         </a></th>
                    <th class="g-bg-primary"><a href="#July17/1030" style="color:black;">Plenary <br>Lecture & Closing</a></th>
                  </tr>
                  <tr>
                    <th>12:30</th>
                    <th></th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch (12:00) </th>
                  </tr>
                  <tr>
                    <th>14:00</th>
                    <th></th>
                    <th class="g-bg-blue">  <a href="#July12/1400" style="color:black;">Parallel       <br>Sessions  </a></th>
                    <th class="g-bg-blue">  <a href="#July13/1400" style="color:black;">Parallel       <br>Sessions  </a></th>
                    <th class="g-bg-yellow">                                            Free afternoon/<br>Excursions    </th>
                    <th class="g-bg-blue">  <a href="#July15/1400" style="color:black;">Parallel       <br>Sessions  </a></th>
                    <th class="g-bg-blue">  <a href="#July16/1400" style="color:black;">Parallel       <br>Sessions  </a></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>16:00</th>
                    <th></th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-yellow"></th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th>      </th>
                  </tr>
                  <tr>
                    <th>16:30</th>
                    <th class="g-bg-primary"><a href="#July11/1700" style="color:black;">Opening &<br>Plenary Lectures</a></th>
                    <th class="g-bg-blue">   <a href="#July12/1630" style="color:black;">Parallel <br>Sessions        </a></th>
                    <th class="g-bg-blue">   <a href="#July13/1630" style="color:black;">Parallel <br>Sessions        </a></th>
                    <th class="g-bg-yellow">                                                                          </th>
                    <th class="g-bg-blue">   <a href="#July15/1630" style="color:black;">Parallel <br>Sessions        </a></th>
                    <th class="g-bg-blue">   <a href="#July16/1630" style="color:black;">Parallel <br>Sessions        </a></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>19:00</th>
                    <th class="g-bg-yellow">Welcome reception</th>
                    <th></th>
                    <th class="g-bg-teal"><a href="#July13/1900" style="color:black;">Posters 1</a></th>
                    <th></th>
                    <th class="g-bg-teal"><a href="#July15/1900" style="color:black;">Posters 2</a></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>20:00</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="g-bg-yellow"> Conference<br>dinner</th>
                    <th></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% for program in site.data.program %}
<section class="container g-pt-100 g-pb-70">
  <div class="container"-->
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <a href="#top" style="color:black;">Back to top</a>
            <div class="table-responsive" id="{{ program.id }}">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th>{{ program.date }}</th>
                  </tr>
                </thead>
                {% for block in program.blocks %}
                {% assign setup = block.row[0] | split: " | " %}
                <tbody>
                  <tr>
                    {% for i in (1..5) %}
                      {% if i==1 and setup.size == 2 %}
                        <th class="g-bg-{{ setup[0] }}"><a id="{{ program.id | append: "/" | append: setup[1] }}" style="color:black;">{{ block.row[i] }}</a></th>
                      {% else %}
                        <th class="g-bg-{{ setup[0] }}" style="color:black;">{{ block.row[i] }}</th>
                      {% endif %}
                    {% endfor %}
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
            <a href="#top" style="color:black;">Back to top</a>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
