<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->


<section class="container g-pt-100 g-pb-70">

  <div class="row justify-content-center g-mb-60">
    <div class="col-lg-10">
      <div class="text-center g-color-black">
        <h2 class="h3 text-uppercase mb-2">
           Program 
        </h2>
        <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
        <!--p class="lead mb-0">
	  The planning of the conference is still in an early phase and
          changes may still happen. We plan to open the conference on July 11 at 17:00,
          and to end the conference on July 17 at 12:00.
        </p-->
        <p class="lead mb-0">
          The current outline of the program is indicated in the table below.
        </p>
      </div>
    </div>
  </div>

  <div class="container"-->
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th></th>
                    <th>July 11, 2019</th>
                    <th>July 12, 2019</th>
                    <th>July 13, 2019</th>
                    <th>July 14, 2019</th>
                    <th>July 15, 2019</th>
                    <th>July 16, 2019</th>
                    <th>July 17, 2019</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>08:30</th>
                    <th></th>
                    <th class="g-bg-primary">Plenary <br>Lectures</th>
                    <th class="g-bg-primary">Plenary <br>Lectures</th>
                    <th class="g-bg-blue">   Parallel<br>Sessions</th>
                    <th class="g-bg-primary">Plenary <br>Lectures</th>
                    <th class="g-bg-primary">   Plenary <br>Lectures</th>
                    <th class="g-bg-blue">   Parallel<br>Sessions</th>
                  </tr>
                  <tr>
                    <th>10:00</th>
                    <th></th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                  </tr>
                  <tr>
                    <th>10:30</th>
                    <th></th>
                    <th class="g-bg-blue">   Parallel<br>Sessions         </th>
                    <th class="g-bg-blue">   Parallel<br>Sessions         </th>
                    <th class="g-bg-blue">   Parallel<br>Sessions         </th>
                    <th class="g-bg-blue">   Parallel<br>Sessions         </th>
                    <th class="g-bg-blue">   Parallel<br>Sessions         </th>
                    <th class="g-bg-primary">Plenary <br>Lecture & Closing</th>
                  </tr>
                  <tr>
                    <th>12:30</th>
                    <th></th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">Lunch (12:00) </th>
                  </tr>
                  <tr>
                    <th>14:00</th>
                    <th></th>
                    <th class="g-bg-blue">  Parallel       <br>Sessions  </th>
                    <th class="g-bg-blue">  Parallel       <br>Sessions  </th>
                    <th class="g-bg-yellow">Free afternoon/<br>Excursions</th>
                    <th class="g-bg-blue">  Parallel       <br>Sessions  </th>
                    <th class="g-bg-blue">  Parallel       <br>Sessions  </th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>16:00</th>
                    <th></th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-yellow"></th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th>      </th>
                  </tr>
                  <tr>
                    <th>16:30</th>
                    <th class="g-bg-primary">Opening &<br>Plenary Lectures</th>
                    <th class="g-bg-blue">   Parallel <br>Sessions        </th>
                    <th class="g-bg-blue">   Parallel <br>Sessions        </th>
                    <th class="g-bg-yellow"></th>
                    <th class="g-bg-blue">   Parallel <br>Sessions        </th>
                    <th class="g-bg-blue">Parallel <br>Sessions        </th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>19:00</th>
                    <th class="g-bg-red">Welcome reception</th>
                    <th></th>
                    <th class="g-bg-teal">Posters 1</th>
                    <th></th>
                    <th class="g-bg-teal">Posters 2</th>
                    <th></th>
                    <th></th>
                  </tr>
                  <tr>
                    <th>20:00</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="g-bg-red"> Conference<br>dinner</th>
                    <th></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container g-pt-100 g-pb-70">
  <div class="container"-->
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th>Thursday, July 11</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="g-bg-primary">Opening ceremony</th>
                    <th class="g-bg-primary">17:00</th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-primary">Keynote lecture</th>
                    <th class="g-bg-primary">17:30</th>
                    <th class="g-bg-primary">Sharon Hammes-Schiffer</th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-primary">Plenary lecture</th>
                    <th class="g-bg-primary">18:15</th>
                    <th class="g-bg-primary">Trygve Helgaker</th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-red">Welcome reception</th>
                    <th class="g-bg-red">19:00</th>
                    <th class="g-bg-red"></th>
                    <th class="g-bg-red"></th>
                    <th class="g-bg-red"></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container g-pt-100 g-pb-70">
  <div class="container"-->
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th>Friday, July 12</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="g-bg-primary">Plenary Lectures</br>
                                             08:30</br>
                                             09:15</br>
                    </th>
                    <th class="g-bg-primary"></br>
                                             Peter Schwerdtfeger</br>
                                             Sylvio Canuto</br>
                    </th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">10:00-10:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          10:30</br>
                                          11:00</br>
                                          11:30</br>
                                          12:00</br>
                    </th>
                    <th class="g-bg-blue"><u>Heavy-element chemistry</u></br>
                                             Thomas Albrecht-Schmitt</br>
                                             Katharina Boguslawski</br>
                                             Han-Shi Hu</br>
                                             Michael Patzschke</br>
                    </th>
                    <th class="g-bg-blue"><u>Machine learning</u></br> 
                                             Pavlo Dral</br>
                                             Cecilia Clementi</br>
                                             Marivi Fernandez-Serra</br>
                                             Koji Tsuda</br>
                    </th>
                    <th class="g-bg-blue"><u>Multiscale modeling</u></br>
                                             Oleg Prezhdo</br>
                                             Damien Laage</br>
                                             Dominika Zgid</br>
                                             Thomas Markland</br>
                    </th>
                    <th class="g-bg-blue"><u>Large-scale el. structure</u></br>
                                             Ilaria Ciofini</br>
                                             Helio A. Duarte</br>
                                             Petko Petkov</br>
                                             Jianping Xiao</br>
                    </th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">12:30-14:00</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          14:00</br>
                                          14:30</br>
                                          15:00</br>
                                          15:30</br>
                    </th>
                    <th class="g-bg-blue"><u>Heavy-element chemistry</u></br>
                                             Aurora Clark</br>
                                             Jochen Autschbach</br>
                                             Xiaosong Li</br>
                                             Michal Repisky</br>
                    </th>
                    <th class="g-bg-blue"><u>Mol. properties and interactions</u></br> 
                                             Alston Misquitta</br>
                                             Krzystof Szalewicz</br>
                                             Andreas Hesselmann</br>
                                             Malgorzata M. Szczesniak</br>
                    </th>
                    <th class="g-bg-blue"><u>Multiscale modeling</u></br>
                                             Filippo Lipparini</br>
                                             Jean-Philip Piquemal</br>
                                             Debashree Ghosh</br>
                                             Ksenia Bravaya</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">16:00-16:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          16:30</br>
                                          17:00</br>
                                          17:30</br>
                                          18:00</br>
                    </th>
                    <th class="g-bg-blue"><u>Emergent electronic structure</u></br>
                                             Ali Alavi</br>
                                             Cyrus Umrigar</br>
                                             Eric Neuscamman</br>
                                             Sandeep Sharma</br>
                    </th>
                    <th class="g-bg-blue"><u>90 years of r12: Hylleraas symp.</u></br> 
                                             Angela Wilson</br>
                                             Kirk Peterson</br>
                                             David Tew</br>
                                             Hans-Joachim Werner</br>
                    </th>
                    <th class="g-bg-blue"><u>Path-integral methods</u></br>
                                             David Ceperley</br>
                                             Mark Tuckerman</br>
                                             Jian Liu</br>
                                             Nancy Makri</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container g-pt-100 g-pb-70">
  <div class="container"-->
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th>Saturday, July 13</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="g-bg-primary">Plenary Lectures</br>
                                             08:30</br>
                                             09:15</br>
                    </th>
                    <th class="g-bg-primary"></br>
                                             Birgitta Whaley</br>
                                             Peter Saalfrank</br>
                    </th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">10:00-10:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          10:30</br>
                                          11:00</br>
                                          11:30</br>
                                          12:00</br>
                    </th>
                    <th class="g-bg-blue"><u>Heavy-element chemistry</u></br>
                                          Stefaan Cottenier</br>
                                          Helene Bolvin</br>
                                          Juha Vaara</br>
                                          Peter Hrobarik</br>
                    </th>
                    <th class="g-bg-blue"><u>Machine learning</u></br>
                                          Olexandr Isayev</br>
                                          Johannes Hachmann</br>
                                          Alexandre Tkatchenko</br>
                                          Natalia Cordeiro</br>
                    </th>
                    <th class="g-bg-blue"><u>Phys.org.chem. and catalysis</u></br>
                                          Robert Paton</br>
                                          Kathrin Hopmann</br>
                                          Per-Ola Norrby</br>
                                          Benedetta Mennucci</br>
                    </th>
                    <th class="g-bg-blue"><u>Nucl. and el. dynamics</u></br>
                                          Todd J. Martinez</br>
                                          Regina de Vivie-Riedle</br>
                                          Leticia Gonzalez</br>
                                          Graham Worth</br>
                    </th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">12:30-14:00</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          14:00</br>
                                          14:30</br>
                                          15:00</br>
                                          15:30</br>
                    </th>
                    <th class="g-bg-blue"><u>90 years of r12: Hylleraas symp.</u></br>
                                          Edit Matyus</br>
                                          Florian Bischoff</br>
                                          Andreas Grüneis</br>
                                          Andreas Köhn</br>
                    </th>
                    <th class="g-bg-blue"><u>Mol. properties and interactions</u></br> 
                                          Katharine Hunt</br>
                                          Jacob Kongsted</br>
                                          Toon Verstraelen</br>
                                          Denis Jacquemin</br>
                    </th>
                    <th class="g-bg-blue"><u>Path-integral methods</u></br>
                                          Stuart Althorpe</br>
                                          Nandini Ananth</br>
                                          Jeremy Richardson</br>
                                          David Manolopoulos</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">16:00-16:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          16:30</br>
                                          17:00</br>
                                          17:30</br>
                                          18:00</br>
                    </th>
                    <th class="g-bg-blue"><u>Emergent electronic structure</u></br>
                                          Piotr Piecuch</br>
                                          Gustavo Scuseria</br>
                                          Paola Gori-Giorgi</br>
                                          Laura Gagliardi</br>
                    </th>
                    <th class="g-bg-blue"><u>Heavy-element chemistry</u></br> 
                                          Luuk Visscher</br>
                                          Andre Severo Pereira Gomes</br>
                                          Hiromi Nakai</br>
                                          Florian Weigend</br>
                    </th>
                    <th class="g-bg-blue"><u>Multiscale modeling</u></br>
                                          Aurelien de la Lande</br>
                                          Joachim Sauer</br>
                                          Chao-Ping Hsu</br>
                                          Rosa Bulo</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-teal">Poster session 1</th>
                    <th class="g-bg-teal">19:00</th>
                    <th class="g-bg-teal"></th>
                    <th class="g-bg-teal"></th>
                    <th class="g-bg-teal"></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container g-pt-100 g-pb-70">
  <div class="container"-->
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th>Sunday, July 14</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          08:30</br>
                                          09:00</br>
                                          09:30</br>
                    </th>
                    <th class="g-bg-blue"><u>Mol. properties and interactions</u></br>
                                             Berta Fernandez</br>
                                             Patrick Norman</br>
                                             Sonia Coriani</br>
                    </th>
                    <th class="g-bg-blue"><u>Machine learning</u></br> 
                                             Alex Zhavoronkov</br>
                                             Alona Furmanchuk</br>
                                             Alan Aspuru-Guzik</br>
                    </th>
                    <th class="g-bg-blue"><u>Computational biophysics</u></br>
                                             Helmut Grubmüller</br>
                                             Nathalie Reuter</br>
                                             Teresa Head-Gordon</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">10:00-10:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          10:30</br>
                                          11:00</br>
                                          11:30</br>
                                          12:00</br>
                    </th>
                    <th class="g-bg-blue"><u>90 years of r12: Hylleraas symp.</u></br>
                                             Anna-Sophia Hehn</br>
                                             Seiichiro L. Ten-no</br>
                                             Jan M. L. Martin</br>
                                             Ludwik Adamowicz</br>
                    </th>
                    <th class="g-bg-blue"><u>Computational spectroscopy</u></br> 
                                             Shaul Mukamel</br>
                                             Sandra Luber</br>
                                             Jonathan Tennyson</br>
                                             Yohann Scribano</br>
                    </th>
                    <th class="g-bg-blue"><u>Path-integral methods</u></br>
                                             Angelos Michaelides</br>
                                             Mariana Rossi</br>
                                             Michele Ceriotti</br>
                                             Francesco Paesani</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-yellow">FREE TIME</th>
                    <th class="g-bg-yellow">12:30</th>
                    <th class="g-bg-yellow"></th>
                    <th class="g-bg-yellow"></th>
                    <th class="g-bg-yellow"></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container g-pt-100 g-pb-70">
  <div class="container"-->
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th>Monday, July 15</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="g-bg-primary">Plenary Lectures</br>
                                             08:30</br>
                                             09:15</br>
                    </th>
                    <th class="g-bg-primary"></br>
                                             Thomas F. Miller</br>
                                             Irene Burghardt</br>
                    </th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">10:00-10:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          10:30</br>
                                          11:00</br>
                                          11:30</br>
                                          12:00</br>
                    </th>
                    <th class="g-bg-blue"><u>Emergent electronic structure</u></br>
                                          Claudia Filippi</br>
                                          Brenda Rubenstein</br>
                                          Fabien Bruneval</br>
                                          Katarzyna Pernal</br>
                    </th>
                    <th class="g-bg-blue"><u>Mol. properties and interactions</u></br> 
                                          Stefan Grimme</br>
                                          Lyudmila Slipchenko</br>
                                          Attila Csaszar</br>
                                          Tatiana Korona</br>
                    </th>
                    <th class="g-bg-blue"><u>Computational biophysics</u></br>
                                          Mikko Karttunen</br>
                                          Michele Cascella</br>
                                          Thereza Soares</br>
                                          Monika Fuxreiter</br>
                    </th>
                    <th class="g-bg-blue"><u>Large-scale el. structure</u></br>
                                          Volker Blum</br>
                                          Christian Ochsenfeld</br>
                                          Joost VandeVondele</br>
                                          Steven G.Louie</br>
                    </th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">12:30-14:00</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          14:00</br>
                                          14:30</br>
                                          15:00</br>
                                          15:30</br>
                    </th>
                    <th class="g-bg-blue"><u>Ultracold chemical physics</u></br>
                                          Guido Pupillo</br>
                                          Olivier Dulieu</br>
                                          Robert Moszynski</br>
                                          Svetlana Kotochigova</br>
                    </th>
                    <th class="g-bg-blue"><u>Nuclear and electron dynamics</u></br> 
                                          Fernando Martin</br>
                                          Eberhard Gross</br>
                                          Nina Rohringer</br>
                                          Boutheina Kerkeni</br>
                    </th>
                    <th class="g-bg-blue"><u>Phys.org.chem. and catalysis</u></br>
                                          Satoshi Maeda</br>
                                          Natalie Fey</br>
                                          Markus Reiher</br>
                                          Heather J. Kulik</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">16:00-16:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          16:30</br>
                                          17:00</br>
                                          17:30</br>
                                          18:00</br>
                    </th>
                    <th class="g-bg-blue"><u>Emergent electronic structure</u></br>
                                          Steven R. White</br>
                                          Garnet Chan</br>
                                          Philippe Corboz</br>
                                          Örs Legeza</br>
                    </th>
                    <th class="g-bg-blue"><u>Computational spectroscopy</u></br> 
                                          Vincenzo Barone</br>
                                          Tucker Carrington</br>
                                          Ad van der Avoird</br>
                                          Fabien Gatti</br>
                    </th>
                    <th class="g-bg-blue"><u>Path-integral methods</u></br>
                                          David Reichman</br>
                                          Seogjoo Jang</br>
                                          Pierre-Nicholas Roy</br>
                                          Gregory A. Voth</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-teal">Poster session 2</th>
                    <th class="g-bg-teal">19:00</th>
                    <th class="g-bg-teal"></th>
                    <th class="g-bg-teal"></th>
                    <th class="g-bg-teal"></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container g-pt-100 g-pb-70">
  <div class="container"-->
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th>Tuesday, July 16</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="g-bg-primary">Plenary Lectures</br>
                                             08:30</br>
                                             09:15</br>
                    </th>
                    <th class="g-bg-primary"></br>
                                             Giulia Galli</br>
                                             Zhigang Shuai</br>
                    </th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">10:00-10:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          10:30</br>
                                          11:00</br>
                                          11:30</br>
                                          12:00</br>
                    </th>
                    <th class="g-bg-blue"><u>Ladik symposium</u></br>
                                          Rodney J. Bartlett</br>
                                          Alia Tadjer</br>
                                          Martin Quack</br>
                                          Cleanthes Nicolaides</br>
                    </th>
                    <th class="g-bg-blue"><u>Ultracold chemical physics</u></br> 
                                          TBC</br>
                                          John Bohn</br>
                                          Robin Cote</br>
                                          Piotr Zuchowski</br>
                    </th>
                    <th class="g-bg-blue"><u>Phys.org.chem. and catalysis</u></br>
                                          Yousung Jung</br>
                                          Carine Michel</br>
                                          Hai Lin</br>
                                          Michelle Coote</br>
                    </th>
                    <th class="g-bg-blue"><u>Large-scale el. structure</u></br>
                                          Shuhua Li</br>
                                          Johannes Neugebauer</br>
                                          Marcus Elstner</br>
                                          Tsuyoshi Miyazaki</br>
                    </th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Lunch</th>
                    <th class="g-bg-gray-light-v4">12:30-14:00</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          14:00</br>
                                          14:30</br>
                                          15:00</br>
                                          15:30</br>
                    </th>
                    <th class="g-bg-blue"><u>Emergent electronic structure</u></br>
                                          Michiel van Setten</br>
                                          Timothy Berkelbach</br>
                                          Luigi Genovese</br>
                                          Luca Frediani</br>
                    </th>
                    <th class="g-bg-blue"><u>Computational spectroscopy</u></br> 
                                          Faris Gelmukhanov</br>
                                          Vincenzo Carravetta</br>
                                          Barbara Brena</br>
                                          Weijie Hua</br>
                    </th>
                    <th class="g-bg-blue"><u>Computational biophysics</u></br>
                                          Inaki Tunon</br>
                                          Maria Joao Ramos</br>
                                          Qiang Cui</br>
                                          Fernanda Duarte Gonzalez</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">16:00-16:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          16:30</br>
                                          17:00</br>
                                          17:30</br>
                                          18:00</br>
                    </th>
                    <th class="g-bg-blue"><u>Nuclear and electron dynamics</u></br>
                                          David Clary</br>
                                          Francoise Remacle</br>
                                          Olga Smirnova</br>
                                          Morgane Vacher</br>
                    </th>
                    <th class="g-bg-blue"><u>Ultracold chemical physics</u></br> 
                                          Rosario Gonzalez-Ferez</br>
                                          Timur Tscherbul</br>
                                          Christiane Koch</br>
                                          Goulven Quemener</br>
                    </th>
                    <th class="g-bg-blue"><u>Large-scale el. structure</u></br>
                                          Woo Youn Kim</br>
                                          Beatriz Gonzalez del Rio</br>
                                          Gianluca Fiori</br>
                                          David Tomanek</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-red">Conference dinner</th>
                    <th class="g-bg-red">20:00</th>
                    <th class="g-bg-red"></th>
                    <th class="g-bg-red"></th>
                    <th class="g-bg-red"></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container g-pt-100 g-pb-70">
  <div class="container"-->
    <!-- Table Head Option -->
    <div class="row">
      <div class="col-md-12">
        <div id="shortcode3">
          <div class="shortcode-html">
            <!-- Table Head Option -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="thead-inverse">
                    <th>Wednesday, July 17</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="g-bg-blue">Parallel Sessions</br>
                                          08:30</br>
                                          09:00</br>
                                          09:30</br>
                    </th>
                    <th class="g-bg-blue"><u>Ladik symposium</u></br>
                                          Mark Hoffman</br>
                                          Hazel Cox</br>
                                          Samantha Jenkins</br>
                    </th>
                    <th class="g-bg-blue"><u>Computational biophysics</u></br> 
                                          Rafael Bernardi</br>
                                          Michele Vendruscolo</br>
                                          Madhurima Jana</br>
                    </th>
                    <th class="g-bg-blue"><u>Computational spectroscopy</u></br>
                                          Csaba Fabri</br>
                                          Cristina Puzzarini</br>
                                          Malgorzata Biczysko</br>
                    </th>
                    <th class="g-bg-blue"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-gray-light-v4">Coffee</th>
                    <th class="g-bg-gray-light-v4">10:00-10:30</th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                    <th class="g-bg-gray-light-v4"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-primary">Plenary Lecture</br>
                                             10:30</br>
                    </th>
                    <th class="g-bg-primary"></br>
                                             Monica Olvera de la Cruz</br>
                    </th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                  </tr>
                  <tr>
                    <th class="g-bg-primary">Keynote Lecture</br>
                                             11:15</br>
                    </th>
                    <th class="g-bg-primary"></br>
                                             Kersti Hermansson</br>
                    </th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                    <th class="g-bg-primary"></th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End Table Head Option -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
