<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>

  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->

  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- End Promo Block Content -->

</section>
<!-- End Promo Block -->

 

<section class="g-py-100">
  <div class="container">
    <header class="g-mb-30  g-color-black">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           Registration
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          <b>Registration is now open</b>. 
          Early-bird registration will close on April 30 2019, and final date for registration will be June 16 2019.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          Registration fees:
          <ul class="lead mb-0">
            <li> Regular participants: 3000 NOK (4000 NOK after April 30)</li>
            <li> PhD/Master students: 2250 NOK (letter of confirmation from supervisor required)</li>
            <li> Keynote/plenary speakers: Free</li>
            <li> Invited speakers/session chairs/committee members: 2000 NOK</li>
            <li> Accompanying persons: 2000 NOK</li>
          </ul>
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          The registration includes access to all scientific sessions
          and the welcome reception. Light food and a limited number
          of drinks are included in the registration fee for the
          welcome reception and the two poster sessions. You may
          during registration sign up for a rich lunch buffet on one
          or more days of the conference (295 NOK/day) as well as for
          the conference dinner (750 NOK/person).
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
	  During registration, the conference organizers together with <a
          href="http://momentnorway.no">Moment Norway</a> provide you also with the 
          opportunity to sign up for a <a href="excursions.html">conference excursion</a>, 
          in particular for the free afternoon on July 14. Note that signing up for an excursion 
          means a binding registration. You will however not pay the excursion now, payment will 
          be made directly to Moment Norway during the conference. 
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          After registration, you will be provided with a hotel
          registration code that you can use to book hotel rooms at a
          discounted rate of 900 NOK/night
          at <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/clarion-hotel-the-edge/">Clarion Hotel The Edge</a> 
          (conference venue)
          or <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/clarion-collection-hotel-with/">Clarion Collection Hotel With</a>, 
          both providing a full breakfast buffet included in the price, 
          or at <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/comfort-hotel-xpress-tromso/">Comfort Hotel Xpress Tromsø</a> 
          for 750 NOK/night. Rooms are available on a first come, first served basis. 
          Discounted prices will be available until <b>April 30 2019</b>.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          The discounted rates are available for the period
          9-19 July, allowing you to use the opportunity to stay in
          Tromsø also beyond the conference. Check out also our page
          for possible 
          <a href="vacations.html">vacation offers</a> in or near Tromsø.
          <!--a href="http://istcp-2019.org/vacation.html">vacation offers in or near Tromsø.</a-->
        </p>
      </div>

      <div class="container g-color-black text-center g-z-index-1">
        <a class="btn u-btn-outline-white g-color-black g-bg-black-opacity-0_1 g-color-white--hover g-bg-black--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-13" href="https://konvent.herokuapp.com/conferences/istcp_2019">Register Now</a>
      </div-->

    </header>
  </div>
</section>
