<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->



<section class="g-py-100">
  <!-- Internation Committee -->
  <div class="container">
    <!-- Heading -->
    <div class="text-center">
      <h2 class="h3 g-color-black text-uppercase mb-2">Chairs of thematic tracks</h2>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">From picoseconds to attoseconds: Nuclear and electron dynamics</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Relativistic and QED effects in atoms, molecules and solids</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Emergent electronic structure methods</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Multiscale modeling including focussed models</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Large-scale electronic structure models of materials</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Ultracold chemical physics</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Molecular properties and interactions</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Computational spectroscopy: from X-rays to microwaves</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">90 years of r12: Hylleraas symposium</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Machine learning and data-driven approaches in chemical physics</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Computational biophysics</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Path-integral methods</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Physical organic chemistry and catalysis</h3> 
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
  </div>
  <!-- End Local Committee -->
</section>
