<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->



<section class="g-py-100">
  <!-- Internation Committee -->
  <div class="container">
    <!-- Heading -->
    <div class="text-center">
      <h2 class="h3 g-color-black text-uppercase mb-2">Confirmed speakers (alphabetical)</h2>
    </div>
    <div class="text-center">
      <ul class="lead list-unstyled g-color-black mb-0">
        <li> <a href="https://cbc.arizona.edu/faculty/ludwik-adamowicz">Ludwik Adamowicz</a> (Tuscon (AZ), USA)</li>
        <li> <a href="http://www.fkf.mpg.de/alavi">Ali Alavi</a> (München, Germany)</li>
	<li> <a href="http://www-stuart.ch.cam.ac.uk/">Stuart Althorpe</a> (Cambridge, UK)</li>
	<li> <a href="http://ananth.chem.cornell.edu/">Nandini Ananth</a> (Cornell, Ithaca (NY), USA)</li>
        <li> <a href="http://matter.toronto.edu/about-us/">Alan Aspuru-Guzik</a> (Toronto, Canada)</li>
        <li> <a href="http://ja01.chem.buffalo.edu/~jochena/index.html">Jochen Autschbach</a> (Buffalo (NY), USA)</li>
        <li> <a href="http://www.theochem.ru.nl/~avda/">Ad van der Avoird</a> (Nijmegen, The Netherlands)</li>
        <li> <a href="http://dreams.sns.it/">Vincenzo Barone</a> (Pisa, Italy)</li>
        <li> <a href="https://people.clas.ufl.edu/rodbartl/">Rodney J. Bartlett</a> (Gainesville (FL), USA)</li>
        <li> <a href="http://berkelbachgroup.uchicago.edu/">Timothy Berkelbach</a> (Chicago (IL), USA)</li>
        <li>                                                       Malgorzata Biczysko     (Shanghai, China)</li>
        <!--li> <a href="http://my.shu.edu.cn/Index.aspx?TID=1900">Malgorzata Biczysko</a> (Shanghai, China)</li-->
        <li> <a href="https://www.chemie.hu-berlin.de/de/forschung/theoretische-chemie/ag_bischoff">Florian Bischoff</a> (Berlin, Germany)</li>
        <li> <a href="https://mems.duke.edu/faculty/volker-blum">Volker Blum</a> (Durham, NC, USA)</li>
        <li> <a href="http://fizyka.umk.pl/~k.boguslawski/">Katharina Boguslawski</a> (Torun, Poland)</li>
        <li> <a href="http://grizzly.colorado.edu/"> John Bohn</a> (Boulder (CO), USA)</li>
        <li> <a href="http://www.lcpq.ups-tlse.fr/spip.php?rubrique374&lang=fr">Helene Bolvin</a> (Toulouse, France)</li>
        <li> <a href="http://people.bu.edu/kbravgrp/">Ksenia Bravaya</a> (Boston, USA)</li>
        <li> <a href="https://katalog.uu.se/profile/?id=N96-3385">Barbara Brena</a> (Uppsala, Sweden)</li>
	<li> <a href="http://www.molgw.org/bruneval/">Fabien Bruneval</a> (CEA, Saclay, France)</li>
        <li> <a href="https://www.uu.nl/staff/REBulo/0">Rosa Bulo</a> (Utrecht, Netherlands)</li>
	<li> <a href="http://www.theochem.uni-frankfurt.de/">Irene Burghardt</a> (Frankfurt, Germany)</li>
	<li> <a href="http://gfmm.if.usp.br/">Sylvio Canuto</a> (Sao Paulo, Brasil)</li>
        <li> <a href="http://ww1.me.ipcf.cnr.it/index.php/nessuna-categioria/carravetta-vincenzo/">Vincenzo Carravetta</a> (Pisa, Italy)</li>
        <li> <a href="http://faculty.chem.queensu.ca/people/faculty/Carrington/">Tucker Carrington</a> (Kingston, Canada)</li>
        <li> <a href="https://www.mn.uio.no/kjemi/english/people/aca/michelec/">Michele Cascella</a> (Oslo, Norway)</li>
        <li> <a href="https://physics.illinois.edu/people/directory/profile/ceperley">David Ceperley</a> (Urbana (IL), USA)</li>
        <li> <a href="https://cosmo.epfl.ch/">Michele Ceriotti</a> (EPFL Lausanne, Switzerland)</li>
        <li> <a href="http://www.chan-lab.caltech.edu/">Garnet Chan</a> (Los Angeles (CA), USA)</li>
        <li> <a href="http://www.chimie-paristech.fr/labos/LECA/Research/site_msc/index.html">Ilaria Ciofini</a> (Chimie ParisTech, France)</li>
        <li> <a href="https://chem.wsu.edu/faculty/aurora-clark/">Aurora Clark</a> (Washington State University, Pullman (WA), USA)</li>
	<li> <a href="http://research.chem.ox.ac.uk/david-clary.aspx">David Clary</a> (Oxford, UK)</li>
        <li> <a href="http://clementiresearch.rice.edu/">Cecilia Clementi</a> (Houston (TX), USA)</li>
        <li> <a href="http://rsc.anu.edu.au/~mcoote/">Michelle Coote</a> (Canberra, Australia)</li>
        <li> <a href="https://staff.fnwi.uva.nl/p.r.corboz/index.htm">Philippe Corboz</a> (Amsterdam, The Netherlands)</li>
        <li> <a href="https://www.fc.up.pt/pessoas/ncordeir/">Natalia Cordeiro</a> (Porto, Portugal)</li>
        <li> <a href="http://www.dtu.dk/english/service/phonebook/person?id=119775&cpid=215189&tab=7">Sonia Coriani</a> (Lyngby, Denmark)</li>
        <li> <a href="http://www.drugdesign.gr">Zoe Cournia</a> (Academy of Athens, Greece)</li>
        <li> <a href="http://www.phys.uconn.edu/~rcote/"> Robin Cote</a> (Storrs (CT), USA)</li>
        <li> <a href="https://molmod.ugent.be/members/stefaan-cottenier">Stefaan Cottenier</a> (Gent, Belgium)</li>
        <li> <a href="http://www.sussex.ac.uk/lifesci/coxlab/">Hazel Cox</a> (Sussex, UK)</li>
	<li> <a href="http://www.mccormick.northwestern.edu/research-faculty/directory/profiles/olvera-de-la-cruz-monica.html">Monica Olvera de la Cruz</a> (Evanston (IL), USA)</li>
        <li> <a href="http://csaszar.chem.elte.hu/">Attila Csaszar</a> (Budapest, Hungary)</li>
        <li> <a href="https://www.bu.edu/chemistry/faculty/cui/">Qiang Cui</a> (Boston (MA), USA)</li>
        <li> <a href="http://dr-dral.com/">Pavlo Dral</a> (Mülheim an der Ruhr, Germany)</li>
        <li> <a href="http://zeus.qui.ufmg.br/~duarteh/helioenglish.html">Helio A. Duarte</a> (Belo Horizonte, Brazil)</li>
        <li> <a href="http://www.lac.u-psud.fr/spip.php?rubrique324&lang=fr"> Olivier Dulieu</a> (Paris Sud, France)</li>
        <li> <a href="http://www.ipc.kit.edu/tcb/english/Staff_51.php">Marcus Elstner</a> (Karslruhe, Germany)</li>
        <li> <a href="http://kkrk.chem.elte.hu/fics/">Csaba Fabri</a> (Budapest, Hungary)</li>
        <li> <a href="http://qfminerva.usc.es/">Berta Fernandez</a> (Santiago de Compostela, Spain)</li>
        <li> <a href="http://mini.physics.sunysb.edu/~marivi/">Marivi Fernandez-Serra</a> (Stony Brook (NY), USA)</li>
        <li> <a href="https://feygroupchem.wordpress.com/">Natalie Fey</a> (Bristol, UK)</li>
        <li> <a href="https://www.utwente.nl/en/tnw/ccp/people/academic-staff/filippi/">Claudia Filippi</a> (Twente, The Netherlands)</li>
        <li> <a href="http://www.gianlucafiori.org/">Gianluca Fiori</a> (Pisa, Italy)</li>
        <li> <a href="http://www.ctcc.no/people/senior-scientists/luca/index.html">Luca Frediani</a> (Tromsø, Norway)</li>
        <li> <a href="http://furmanchuk.com/">Alona Furmanchuk</a> (Chicago (IL), USA)</li>
        <li> <a href="http://protdyn.med.unideb.hu/">Monika Fuxreiter</a> (Debrecen, Hungary)</li>
	<li> <a href="https://galligroup.uchicago.edu/">Giulia Galli</a> (Chicago (IL), USA)</li>
        <li> <a href="http://www.ismo.u-psud.fr/spip.php?page=annuaire&id_individu=339&lang=fr">Fabien Gatti</a> (Paris Sud, France)</li>
        <li> <a href="https://www.kth.se/profile/faris">Faris Gelmukhanov</a> (KTH, Stockholm, Sweden)</li>
        <li> <a href="http://inac.cea.fr/Phocea/Vie_des_labos/Ast/ast_groupe.php?id_groupe=12">Luigi Genovese</a> (Grenoble, France)</li>
        <li> <a href="http://iacs.res.in/faculty-profile.html?id=114">Debashree Ghosh</a> (Kolkata, India)</li>
        <li> <a href="http://www.phlam.univ-lille1.fr/spip.php?article31&lang=fr">Andre Severo Pereira Gomes</a> (Lille, France)</li>
        <li> <a href="http://fduartegroup.org/">Fernande Duarte Gonzalez</a> (Oxford, UK)</li>
	<li> <a href="http://theochem.univie.ac.at/member/?uid=7">Leticia Gonzalez</a> (Wien, Austria)</li>
        <li> <a href="https://carter.princeton.edu/people/postdoctoral-fellows/">Beatriz Gonzalez del Rio</a> (Princeton (NJ), USA)</li>
<li> <a href="https://www.ugr.es/~rogonzal/index_en.html">Rosario Gonzalez-Ferez</a>  (Granada, Spain)</li>
        <li> <a href="https://www.quantummatter.eu/">Paola Gori-Giorgi</a> (Amsterdam, The Netherlands)</li>
        <li> <a href="https://www.chemie.uni-bonn.de/pctc/mulliken-center/grimme">Stefan Grimme</a> (Bonn, Germany)</li>
        <li> <a href="http://www2.mpi-halle.mpg.de/theory_department/welcome/">Eberhard Gross</a> (Halle, Germany)</li>
        <li> <a href="https://www.fkf.mpg.de/person/40898/5302167">Andreas Grüneis</a> (Stuttgart, Germany)</li>
        <li> <a href="http://hachmannlab.cbe.buffalo.edu/">Johannes Hachmann</a> (Buffalo (NY), USA)</li>
	<li> <a href="http://hammes-schiffer-group.org/">Sharon Hammes-Schiffer</a> (Yale, New Haven (CT), USA)</li>
        <li> Anna-Sophia Hehn (Zürich, Switzerland)</li>
          <li> <a href="http://thglab.berkeley.edu/">Teresa Head-Gordon</a> (Berkeley (CA), USA)</li>
	<li> <a href="https://www.mn.uio.no/kjemi/english/people/aca/helgaker/index.html">Trygve Helgaker</a> (Oslo, Norway)</li>
        <li> <a href="http://katalog.uu.se/empinfo/?id=XX2483/">Kersti Hermansson</a> (Uppsala, Sweden)</li>
        <li> <a href="https://www.chemistry.nat.fau.eu/hesselmann-group/">Andreas Hesselmann</a> (Erlangen, Germany)</li>
        <li> <a href="https://arts-sciences.und.edu/chemistry/hoffmann.cfm">Mark Hoffman</a> (Grand Forks (ND), USA)</li>
        <li> <a href="https://en.uit.no/om/enhet/ansatte/person?p_document_id=77623&p_dimension_id=88139">Kathrin Hopmann</a> (Tromsø, Norway)</li>
        <li> <a href="">Peter Hrobarik</a> (Bratislava, Slovakia)</li>
        <li> <a href="http://idv.sinica.edu.tw/berrylab/">Chao-Ping Hsu</a> (Taipei, Taiwan)</li>
        <li> <a href="">Han-Shi Hu</a> (Beijing, China)</li>
        <li> <a href="https://sites.google.com/site/huaweijie/">Weijie Hua</a> (Nanjing, China)</li>
        <li> <a href="https://www.chemistry.msu.edu/faculty-research/faculty-members/katharine-c-hunt/">Katharine Hunt</a> (East Lansing (MI), USA)</li>
        <li> <a href="http://olexandrisayev.com/">Olexandr Isayev</a> (Chapel Hill (NC), USA)</li>
        <li> <a href="http://www.univ-nantes.fr/site-de-l-universite-de-nantes/m-denis-jacquemin--633107.kjsp">Denis Jacquemin</a> (Nantes, France)</li>
	<li> <a href="http://chem.qc.cuny.edu/~sjjang/">Seogjoo Jang</a> (Queens College CUNY, Flushing (NY), USA)</li>
        <li> <a href="http://beaconresearch.org/">Samantha Jenkins</a> (Hunan Normal University, Changsha, China)</li>
        <li> <a href="http://qchem.kaist.ac.kr/professor.html">Yousung Jung</a> (KAIST, Daejeon, Korea)</li>
        <li> <a href="www.softsimu.org/mikko/">Mikko Karttunen</a> (London, Canada)</li>
	<li> <a href="http://www.utm.rnu.tn/visirech/Fr/utm/fst/lpmc/annuaire/D44/">Boutheina Kerkeni</a> (Tunis, Tunisia)</li>
        <li> <a href="http://wooyoun.kaist.ac.kr/index2.html">Woo Youn Kim</a> (Daejeon, Korea)</li>
        <li> <a href="http://www.uni-stuttgart.de/theochem/groups/koehn/team/koehn.html">Andreas Köhn</a> (Stuttgart, Germany)</li>
        <li> <a href="http://hjkgrp.mit.edu/">Heather J. Kulik</a> (Cambridge (MA), USA)</li>
        <li> <a href="https://www.uni-kassel.de/fb10/institute/physik/forschungsgruppen/quantendynamik-und-kontrolle/startseite.html">Christiane Koch</a>  (Kassel, Germany)</li>
        <li> <a href="http://findresearcher.sdu.dk/portal/en/person/kongsted">Jacob Kongsted</a> (Odense, Denmark)</li>
        <li> <a href="http://tiger.chem.uw.edu.pl/index.php?i=tania">Tatiana Korona</a> (Warszawa, Poland)</li>
        <li> <a href="https://phys.cst.temple.edu/svetlana-kotochigova.html">Svetlana Kotochigova</a>  (Philadelphia (PA), USA)</li>
        <li> <a href="http://www.chimie.ens.fr/?q=pasteur/pct/Damien_Laage/bio">Damien Laage</a> (ENS, Paris Sciences Lettres (PSL), France)</li>
        <li> <a href="http://hebergement.u-psud.fr/delalandecnrs/">Aurelien de la Lande</a> (CNRS, Universite Paris Sud, France)</li>
        <li> <a href="https://wigner.mta.hu/en/infopages/legeza.ors">Örs Legeza</a> (Budapest, Hungary)</li>
        <li> <a href="http://itcc.nju.edu.cn/shuhua/">Shuhua Li</a> (Nanjing, China)</li>
        <li> <a href="http://depts.washington.edu/ligroup/">Xiaosong Li</a> (Seattle (WA), USA)</li>
        <li> <a href="http://www.ucdenver.edu/faculty-staff/hlin/Pages/default.aspx">Hai Lin</a> (Denver (CO), USA)</li>
        <li> Filippo Lipparini (Pisa, Italy)</li>
	<li> <a href="http://old.chem.pku.edu.cn/liujian/members.html">Jian Liu</a> (Beijing, China)</li>
        <li> <a href="http://civet.berkeley.edu/louie/">Steven G.Louie</a> (Berkeley (CA), USA)</li>
        <li> <a href="https://www.chem.uzh.ch/en/research/groups/luber/research.html">Sandra Luber</a> (University of Zürich, Switzerland)</li>
        <li> <a href="https://sites.google.com/site/grrmgroup/home">Satoshi Maeda</a> (Sapporo, Japan)</li>
	<li> <a href="http://www.scs.illinois.edu/~makri/">Nancy Makri</a> (Urbana-Champagne (IL), USA)</li>
	<li> <a href="http://manolopoulos.chem.ox.ac.uk/">David Manolopoulos</a> (Oxford, UK)</li>
        <li> <a href="https://web.stanford.edu/group/markland/">Thomas Markland</a> (Stanford (CA), USA)</li>
	<li> <a href="https://campusys.qui.uam.es/?page_id=107">Fernando Martin</a> (Universidad Autonoma de Madrid, Spain)</li>
        <li> <a href="https://www.compchem.me/">Jan M L Martin</a> (Weizmann Institute, Rehovot, Israel)</li>
        <li> <a href="http://mtzweb.stanford.edu/">Todd J. Martinez</a> (Stanford (CA), USA)</li>
        <li> <a href="http://www.compchem.hu/">Edit Matyus</a> (Budapest, Hungary)</li>
        <li> <a href="https://molecolab.dcci.unipi.it/">Benedetta Mennucci</a> (Pisa, Italy)</li>
	<li> <a href="https://www.ucl.ac.uk/physics-astronomy/people/professor-angelos-michaelides">Angelos Michaelides</a> (UC London, UK) </li>
        <li> <a href="http://www.ens-lyon.fr/CHIMIE/recherche/Teams/Chimie_Theorique">Carine Michel</a> (ENS Lyon, France)</li>
	<li> <a href="https://millergroup.caltech.edu/Miller_Group/Home.html">Thomas F. Miller</a> (Los Angeles (CA), USA)</li>
        <li> <a href="https://sites.google.com/site/alstonmisquitta/">Alston Misquitta</a> (London, UK)</li>
        <li> <a href="http://www.nims.go.jp/cmsc/fps1/index.html">Tsuyoshi Miyazaki</a> (Tsukuba, Japan)</li>
<li> <a href="http://tiger.chem.uw.edu.pl/index.php?i=rmoszyns">Robert Moszynski</a>  (Warszawa, Poland)</li>
        <li> <a href="https://mukamel.ps.uci.edu/">Shaul Mukamel</a> (Irvine (CA), USA)</li>
        <li> <a href="http://www.chem.waseda.ac.jp/nakai/?page_id=1520&lang=en">Hiromi Nakai</a> (Tokyo, Japan)</li>
        <li> <a href="https://www.uni-muenster.de/Chemie.oc/neugebauer/neugebauer.html">Johannes Neugebauer</a> (Münster, Germany)</li>
        <li> <a href="https://chemistry.berkeley.edu/faculty/chem/neuscamman">Eric Neuscamman</a> (Berkeley (CA), USA)</li>
        <li> <a href="http://www.physics.ntua.gr/~nicolaides/">Cleanthes Nicolaides</a> (Athens, Greece)</li>
        <li> <a href="https://www.kth.se/profile/panor">Patrick Norman</a> (Stockholm, Sweden)</li>
        <li> <a href="https://www.linkedin.com/in/per-ola-norrby-a456403/">Per-Ola Norrby</a> (AstraZeneca, Gothenburg, Sweden)</li>
        <li> <a href="http://www.cup.lmu.de/pc/ochsenfeld/">Christian Ochsenfeld</a> (München, Germany)</li>
	<li> <a href="http://paesanigroup.ucsd.edu/">Francesco Paesani </a>(San Diego (CA), USA) </li>
        <li> <a href="http://paton.chem.ox.ac.uk/bio/bio.html">Robert Paton</a> (Oxford, UK)</li>
        <li> <a href="https://www.hzdr.de/db/Cms?pNid=3355">Michael Patzschke</a> (Dresden, Germany)</li>
        <li> <a href="https://fizyka.p.lodz.pl/en/research/qchem/">Katarzyna Pernal</a> (Lodz, Poland)</li>
        <li> <a href="http://tyr0.chem.wsu.edu/~kipeters/">Kirk Peterson</a> (Pullman (WA), USA)</li>
        <li> <a href="http://piquemalresearch.com/">Jean-Philip Piquemal</a> (Sorbonne Universite, Paris, France)</li>
        <li> <a href="https://www2.chemistry.msu.edu/faculty/piecuch/">Piotr Piecuch</a> (East Lansing (MI), USA)</li>
        <li> <a href="http://dornsife.usc.edu/labs/prezhdo-group/oleg-prezhdo/">Oleg Prezhdo</a> (Los Angeles (CA), USA)</li>
        <li> <a href="https://isis.unistra.fr/laboratory-of-quantum-physics/">Guido Pupillo</a>  (Strasbourg, France)</li>
        <li> <a href="https://site.unibo.it/rotational-computational-spectroscopy/">Cristina Puzzarini</a> (Bologna, Italy)</li>
        <li> <a href="http://www.ir.ethz.ch/">Martin Quack</a> (ETH Zürich, Switzerland)</li>
        <li> <a href="http://www.lac.u-psud.fr/spip.php?rubrique316&lang=fr">Goulven Quemener</a>  (Paris Sud, France)</li>
        <li> <a href="http://www.fc.up.pt/pessoas/mjramos">Maria Joao Ramos</a> (Porto, Portugal)</li>
        <li> <a href="http://www.columbia.edu/cu/chemistry/groups/reichman/">David Reichman </a>(Columbia, New York (NY), USA) </li>
        <li> <a href="http://www.reiher.ethz.ch/">Markus Reiher</a> (ETH Zürich, Switzerland)</li>
	<li> <a href="http://www.tcp.ulg.ac.be/">Francoise Remacle</a> (Liege, Belgium)</li>
        <li> <a href="https://en.uit.no/om/enhet/ansatte/person?p_document_id=165784&p_dimension_id=88139">Michal Repisky</a> (Tromsø, Norway)</li>
        <li> <a href="https://www.uib.no/en/rg/reuter">Nathalie Reuter</a> (Bergen, Norway)</li>
	<li> <a href="http://www.richardson.ethz.ch/">Jeremy Richardson</a> (ETH Zürich, Switzerland)</li>
        <li> <a href="http://www.mpsd.mpg.de/en/research/qox">Nina Rohringer</a> (Hamburg, Germany)</li>
	<li> <a href="http://www.fhi-berlin.mpg.de/~rossi/personal_fhi/Main.html">Mariana Rossi</a> (Berlin, Germany) </li>
	<li> <a href="http://www.science.uwaterloo.ca/~pnroy/">Pierre-Nicholas Roy</a> (Waterloo, Canada) </li>
        <li> <a href="https://www.brown.edu/research/labs/rubenstein/">Brenda Rubenstein</a> (Providence (RI), USA)</li>
	<li> <a href="https://www.uni-potsdam.de/theochem/index.html">Peter Saalfrank</a> (Potsdam, Germany)</li>
	<li> <a href="http://ctcp.massey.ac.nz/?group=schwerd">Peter Schwerdtfeger</a> (Auckland, New Zealand)</li>
        <li> <a href="http://www.lupm.univ-montp2.fr/spip.php?page=pageperso&id_user=65/">Yohann Scribano</a> (Montpellier, France)</li>
        <li> <a href="http://scuseria.rice.edu/">Gustavo Scuseria</a> (Houston (TX), USA)</li>
        <li> <a href="">Michiel van Setten</a> (Leuven, Belgium)</li>
        <li> <a href="https://www.colorado.edu/lab/sharmagroup/">Sandeep Sharma</a> (Boulder (CO), USA)</li>
	<li> <a href="http://www.shuaigroup.net/index.php/11-group-research/2-welcome-to-the-zhigang-shuai-group">Zhigang Shuai</a> (Tsinghua University, Beijing, China)</li>
        <li> <a href="http://www.chem.purdue.edu/Slipchenko/">Lyudmila Slipchenko</a> (Purdue, West Lafayette (IN), USA)</li>
        <li> <a href="http://staff.mbi-berlin.de/mbijtheory/">Olga Smirnova</a> (Berlin, Germany)</li>
        <li> <a href="http://dqfnet.ufpe.br/biomat/">Thereza Soares</a> (Recife, Brazil)</li>
        <li> <a href="http://www.physics.udel.edu/~szalewic/">Krzysztof Szalewicz</a> (University of Delaware, Newark (DE), USA)</li>
        <li> <a href="https://oakland.edu/chemistry/top-links/faculty/bryant//">Malgorzata M. Szczesniak</a> (Oakland (OR), USA)</li>
        <li> <a href="http://www.gellan.scitec.kobe-u.ac.jp/en/members/tenno.html">Seiichiro L. Ten-no</a> (Kobe, Japan)</li>
        <li> <a href="https://www.ucl.ac.uk/physics-astronomy/people/professor-jonathan-tennyson">Jonathan Tennyson</a> (London, UK)</li>
        <li> <a href="http://www.chm.bris.ac.uk/pt/tew/index.html">David Tew</a> (Bristol, UK)</li>
        <li> <a href="https://wwwfr.uni.lu/recherche/fstc/physics_and_materials_science_research_unit/people/alexandre_tkatchenko">Alexandre Tkatchenko</a> (Luxembourg)</li>
        <li> <a href="https://sites.google.com/view/troisigroup/home">Alessandro Troisi</a> (Liverpool, IK)</li>
        <li> <a href="https://www.unr.edu/physics/people/timur-tscherbul">Timur Tscherbul</a>  (Reno (NV), USA)</li>
        <li> <a href="http://tsudalab.org/en/member/koji_tsuda/">Koji Tsuda</a> (Tokyo, Japan)</li>
	<li> <a href="https://wp.nyu.edu/tuckerman_group/">Mark Tuckerman</a> (New York, USA)</li>
        <li> <a href="http://www.uv.es/efme">Inaki Tunon</a> (Valencia, Spain)</li>
        <li> <a href="http://physics.cornell.edu/cyrus-umrigar">Cyrus Umrigar</a> (Cornell, Ithaca (NY), USA)</li>
        <li> <a href="http://cc.oulu.fi/~jvaara/jvaara.html">Juha Vaara</a> (Oulu, Finland)</li>
        <li> <a href="http://www.kemi.uu.se/research/theoretical-chemistry/">Morgane Vacher</a> (Uppsala, Sweden)</li>
        <li> <a href="http://www.itp.phys.ethz.ch/people/person-detail.html?persid=90106">Joost VandeVondele</a> (Zürich, Switzerland)</li>
        <li> <a href="http://www-vendruscolo.ch.cam.ac.uk/">Michele Vendruscolo</a> (Cambridge, UK)</li>
        <li> <a href="https://molmod.ugent.be/members/toon-verstraelen">Toon Verstraelen</a> (Ghent, Belgium)</li>
        <li> <a href="https://www.chem.vu.nl/~visscher/Visscher_Group/Main.html">Luuk Visscher</a> (VU Amsterdam, The Netherlands)</li>
       <li> <a href="http://www.cup.lmu.de/pc/devivie/">Regina de Vivie-Riedle</a> (München, Germany)</li>
 	<li> <a href="https://vothgroup.uchicago.edu/">Gregory A. Voth</a> (Chicago, USA)</li>
        <li> <a href="https://www.int.kit.edu/133_florian.weigend.php">Florian Weigend</a> (Karslruhe, Germany)</li>
        <li> <a href="http://www.uni-stuttgart.de/theochem/groups/werner/">Hans-Joachim Werner</a> (Stuttgart, Germany)</li>
	<li> <a href="http://www.cchem.berkeley.edu/kbwgrp/">Birgitta Whaley</a> (Berkeley (CA), USA)</li>
        <li> <a href="https://www.physics.uci.edu/people/steven-r-white">Steven R. White</a> (Irvine (CA), USA)</li>
        <li> <a href="https://www.chemistry.msu.edu/faculty-research/faculty-members/angela-k-wilson/">Angela Wilson</a> (East Lansing (MI), USA)</li>
	<li> <a href="https://www.ucl.ac.uk/chemistry/people/professor-graham-worth">Graham Worth</a> (UC London, UK)</li>
        <li> <a href="http://www.wias.org.cn/index.php?a=detail&catid=491&id=8606&web=english">Jianping Xiao</a> (Hangzhou, China)</li>
        <li> <a href="http://www-personal.umich.edu/~zgid/Welcome.html">Dominika Zgid</a> (Ann Arbor (MI), USA)</li>
        <li> <a href="http://www.insilico.com/">Alex Zhavoronkov</a> (InSilico Inc. John Hopkins Univ, Rockville (MD), USA)</li>
        <li> <a href="https://www.ifiz.umk.pl/en/staff-info/?userId=384&user=pzuch">Piotr Zuchowski</a>  (Torun, Poland)</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
</div>
  <!-- End Local Committee -->
</section>
