<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->



<section class="g-py-100">
  <!-- Internation Committee -->
  <div class="container">
    <!-- Heading -->
    <div class="text-center">
      <h2 class="h3 g-color-black text-uppercase mb-2">Confirmed keynote speakers</h2>
    </div>
    <div class="text-center">
      <ul class="list-unstyled mb-0">
	<li> <a href="http://hammes-schiffer-group.org/">Sharon Hammes-Schiffer</a> (New Haven (CT), USA)</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <div class="text-center">
      <h2 class="h3 g-color-black text-uppercase mb-2">Confirmed plenary speakers</h2>
    </div>
    <div class="text-center">
      <ul class="list-unstyled mb-0">
	<li> <a href="http://www.theochem.uni-frankfurt.de/">Irene Burghardt</a> (Frankfurt, Germany)</li>
	<li> <a href="http://gfmm.if.usp.br/">Sylvio Canuto</a> (Sao Paulo, Brasil)</li>
	<li> <a href="http://www.mccormick.northwestern.edu/research-faculty/directory/profiles/olvera-de-la-cruz-monica.html">Monica Olvera de la Cruz</a> (Evanston (IL), USA)</li>
	<li> <a href="https://galligroup.uchicago.edu/">Guilia Galli</a> (Chicago (IL), USA)</li>
	<li> <a href="https://www.mn.uio.no/kjemi/english/people/aca/helgaker/index.html">Trygve Helgaker</a> (Oslo, Norway)</li>
	<li> <a href="https://millergroup.caltech.edu/Miller_Group/Home.html">Thomas F. Miller</a> (Los Angeles (CA), USA)</li>
	<li> <a href="https://www.uni-potsdam.de/theochem/index.html">Peter Saalfrank</a> (Potsdam, Germany)</li>
	<li> <a href="http://ctcp.massey.ac.nz/?group=schwerd">Peter Schwerdtfeger</a> (Auckland, New Zealand)</li>
	<li> <a href="http://www.cchem.berkeley.edu/kbwgrp/">Birgitta Whaley</a> (Berkeley (CA), USA)</li>
	<li> <a href="http://www.shuaigroup.net/index.php/11-group-research/2-welcome-to-the-zhigang-shuai-group">Zhigang Shuai</a> (Beijing, China)</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">From picoseconds to attoseconds: Nuclear and electron dynamics</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5> 
    </div>
    <p></p>
   <div class="row g-mb-30">
      <!-- Row First -->
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.magd.ox.ac.uk/wordpress/wp-content/uploads/2013/09/David-Clary-2005.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://research.chem.ox.ac.uk/david-clary.aspx">
                 David Clary
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Oxford, UK
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.academia-net.org/sixcms/media.php/1252/thumbnails/Gonz%C3%A1les%2C-Leticia-korr.1095709.jpg.2774485.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://theochem.univie.ac.at/member/?uid=7">
                 Leticia Gonzalez
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Vienna, Austria
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://campusys.qui.uam.es/wp-content/uploads/connections-images/fernando-martin-garcia/foto-Fernando-3d021fee976bfd08cfe0d5c2ae3bab06.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://campusys.qui.uam.es/?page_id=107">
                 Fernando Martin
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i>Universidad Autónoma de Madrid, Spain
              </span>
            </div>
          </li>
        </ul>
      </div>
   </div> 
    <p></p>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h5> 
      <ul class="list-unstyled mb-0">
	<li> <a href="http://research.chem.ox.ac.uk/david-clary.aspx">David Clary</a> (Oxford, UK)</li>
	<li> <a href="http://theochem.univie.ac.at/member/?uid=7">Leticia Gonzales</a> (Wien, Austria)</li>
	<li> <a href="http://www.utm.rnu.tn/visirech/Fr/utm/fst/lpmc/annuaire/D44/">Botheina Kerkeni</a> (Tunis, Tunisia)</li>
	<li> <a href="https://campusys.qui.uam.es/?page_id=107">Fernando Martin</a> (Madrid, Spain)</li>
	<li> <a href="http://www.tcp.ulg.ac.be/">Francoise Remacle</a> (Liege, Belgium)</li>
	<li> <a href="http://www.mpsd.mpg.de/en/research/qox">Nina Rohringer</a> (Hamburg, Germany)</li>
	<li> <a href="http://www.cup.lmu.de/pc/devivie/">Regina de Vivie-Riedle</a> (München, Germany)</li>
	<li> <a href="https://www.ucl.ac.uk/chemistry/people/professor-graham-worth">Graham Worth</a> (London, UK)</li>
      </ul>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Aspects of heavy-element chemistry</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5> 
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.helsinki.fi/kemia/svenskakemen/images/staff/Pekka.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://www.chem.helsinki.fi/~pyykko/">
                 Pekka Pyykkö
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Helsinki, Finland
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://cas.oslo.no/getfile.php/1321023-1504774161/z%20Services/UploadService/ctwebform-template-2/Trond_72.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://dirac.ups-tlse.fr/saue/">
                 Trond Saue
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University Toulouse III-Paul Sabatier, France
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <p></p>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h5>
      <ul class="list-unstyled mb-0">
        <li> <a href="">Han-Shi Hu</a> (Beijing, China)</li>
      </ul>
    </div>
       <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Emergent electronic structure methods</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5> 
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://comphys.unibas.ch/images/goedecker2.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://www.physik.unibas.ch/people/prof-goedecker.html">
                 Stefan Goedecker
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Basel, Switzerland
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://media.eurekalert.org/multimedia_prod/pub/web/140161_web.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://scuseria.rice.edu/">
                 Gustavo Scuseria
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Rice University, USA
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <p></p>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h5>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Multiscale modeling including focussed models</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5>
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://molecolab.dcci.unipi.it/wp-content/uploads/2013/09/DSC01117medium-300x300.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://molecolab.dcci.unipi.it/people/prof-benedetta-mennucci/">
                 Benedetta Mennucci
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Pisa, Italy
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.chem.purdue.edu/Slipchenko/people/pics/Lyudmila_Slipchenko.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://www.chem.purdue.edu/Slipchenko/">
                 Lyudmila Slipchenko
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Purdue University, USA
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <p></p>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h5>
      <ul class="list-unstyled mb-0">
        <li> <a href="http://people.bu.edu/kbravgrp/">Ksenia Bravaya</a> (Boston, USA)</li>
        <li> <a href="https://www.uu.nl/staff/REBulo/0">Rosa Bulo</a> (Utrecht, Netherlands)</li>
        <li> <a href="http://iacs.res.in/faculty-profile.html?id=114">Debashree Ghosh</a> (Kolkata, India)</li>
        <li> <a href="http://idv.sinica.edu.tw/berrylab/">Chao-Ping Hsu</a> (Taipei, Taiwan)</li>
        <li> Filippo Lipparini (Pisa, Italy)</li>
        <li> <a href="https://web.stanford.edu/group/markland/">Thomas Markland</a> (Stanford (CA), USA)</li>
        <li> <a href="http://piquemalresearch.com/">Jean-Philip Picquemal</a> (Paris, France)</li>
        <li> <a href="http://www-personal.umich.edu/~zgid/Welcome.html">Dominika Zgid</a> (Ann Arbor (MI), USA)</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Large-scale electronic structure models of materials</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5>
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://woi.chemie.uni-leipzig.de/fileadmin/_processed_/csm_Thomas_96c02a72c6.png" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3"
                 href="https://woi.chemie.uni-leipzig.de/en/homepage/heine-group/">
                 Thomas Heine
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Universität Leipzig, Germany
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://i1.rgstatic.net/ii/profile.image/277575487246346-1443190561884_Q512/Hiromi_Nakai.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3"
                 href="http://www.chem.waseda.ac.jp/nakai/?page_id=1520&lang=en">
                 Hiromi Nakai
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Waseda University, Japan
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <p></p>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h5>
      <ul class="list-unstyled mb-0">
        <li> <a href="https://mems.duke.edu/faculty/volker-blum">Volker Blum</a> (Durham, NC, USA)</li>
        <li> <a href="http://www.ipc.kit.edu/tcb/english/Staff_51.php">Marcus Elstner</a> (Karslruhe, Germany)</li>
        <li> <a href="https://www.uni-muenster.de/Chemie.oc/neugebauer/neugebauer.html">Johannes Neugebauer</a> (Münster, Germany)</li>
        <li> <a href="http://www.cup.lmu.de/pc/ochsenfeld/">Christian Ochsenfeld</a> (München, Germany)</li>
        <li> <a href="https://www.mat.ethz.ch/department/people-a-z/person-detail.html?persid=90106">Joost VandeVondele</a> (Zürich, Switzerland)</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Ultracold chemical physics</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5>
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://community.dur.ac.uk/j.m.hutson/jmh-180.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://community.dur.ac.uk/j.m.hutson/">
                 Jeremy M. Hutson
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Durham University, UK 
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.iaqms.org/images/members/jeziorski.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://tiger.chem.uw.edu.pl/index.php?i=jeziorsk">
                 Bogumil Jeziorski
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Warsaw, Poland
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h5>
      <ul class="list-unstyled mb-0">
        <li> <a href="http://inside.mines.edu/~lcarr/"> Lincoln Carr</a> (Golden (CO), USA)</li>
        <li> <a href="https://www.uni-kassel.de/fb10/institute/physik/forschungsgruppen/quantendynamik-und-kontrolle/startseite.html">Christiane Koch</a>  (Kassel, Germany)</li>
        <li> <a href="https://www.unr.edu/physics/people/timur-tscherbul">Timur Tscherbul</a>  (Reno (NV), USA)</li>
      </ul>
    </div>
     <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Molecular properties and interactions</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5>
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://ww1.me.ipcf.cnr.it/wp-content/uploads/2016/05/foto-profilo_RizzoA-175x185.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://ww1.me.ipcf.cnr.it/index.php/uncategorized/rizzo-antonio/?lang=en">
                 Antonio Rizzo
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> CNR (Pisa), Italy
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.physics.udel.edu/~szalewic/szalewicz_bw_small.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://www.physics.udel.edu/~szalewic/">
                 Krzysztof Szalewicz
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Delaware, USA
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h5>
      <ul class="list-unstyled mb-0">
        <li> <a href="https://www.chemie.uni-bonn.de/pctc/mulliken-center/grimme">Stefan Grimme</a> (Bonn, Germany)</li>
        <li> <a href="https://www.chemistry.nat.fau.eu/hesselmann-group/">Andreas Hesselmann</a> (Erlangen, Germany)</li>
        <li> <a href="https://www.chemistry.msu.edu/faculty-research/faculty-members/katharine-c-hunt/">Katherine Hunt</a> (East Lansing (MI), USA)</li>
        <li> <a href="http://www.univ-nantes.fr/site-de-l-universite-de-nantes/m-denis-jacquemin--633107.kjsp">Denis Jacquemin</a> (Nantes, France)</li>
        <li> <a href="http://findresearcher.sdu.dk/portal/en/person/kongsted">Jacob Kongsted</a> (Odense, Denmark)</li>
        <li> <a href="http://tiger.chem.uw.edu.pl/index.php?i=tania">Tatiana Korona</a> (Warszawa, Poland)</li>
        <li> <a href="http://www.chem.purdue.edu/Slipchenko/">Lyudmila Slipchenko</a> (West Lafayette (IN), USA)</li>
        <li> <a href="http://www.physics.udel.edu/~szalewic/">Krzysztof Szalewicz</a> (Newark (DE), USA)</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Computational spectroscopy: from X-rays to microwaves</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5>
    </div>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://theop11.chem.elte.hu/main_index_files/ACS.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://theop11.chem.elte.hu/">
                 Attila Csaszar
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Eötvös Loránd University, Budapest, Hungary
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://www.kth.se/files/avatar/hagren" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://www.kth.se/profile/hagren">
                 Hans Ågren
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> KTH, Stockholm, Sweden
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">90 years of r12: Hylleraas symposium</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5>
    </div>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.ipc.kit.edu/theochem/img/content/wklopper.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://www.ipc.kit.edu/theochem/676.php">
                 Wim Klopper
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Karlsruher Institut für Technologie, Germany
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://www.chem.vt.edu/media/IMAGES/evaleev.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://valeevgroup.github.io/2017/09/22/valeev_ed/">
                 Ed Valeev
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Virginia Tech, Blacksburg, USA
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h5>
      <ul class="list-unstyled mb-0">
        <li> <a href="https://www.chemie.hu-berlin.de/de/forschung/theoretische-chemie/ag_bischoff">Florian Bischoff</a> (Berlin, Germany)</li>
        <li> <a href="https://www.fkf.mpg.de/person/40898/5302167">Andreas Grüneis</a> (Stuttgart, Germany)</li>
        <li> Anna-Sophia Hehn (Zürich, Switzerland)</li>
        <li> <a href="http://www.uni-stuttgart.de/theochem/groups/koehn/team/koehn.html">Andreas Köhn</a> (Stuttgart, Germany)</li>
        <li> <a href="https://www.compchem.me/">Jan Martin</a> (Rehovot, Israel)</li>
        <li> <a href="http://www.compchem.hu/">Edit Matyus</a> (Budapest, Hungary)</li>
        <li> <a href="http://tyr0.chem.wsu.edu/~kipeters/">Kirk Peterson</a> (Pullman (WA), USA)</li>
        <li> <a href="http://www.gellan.scitec.kobe-u.ac.jp/en/members/tenno.html">Seiichiro Ten-No</a> (Kobe, Japan)</li>
        <li> <a href="http://www.chm.bris.ac.uk/pt/tew/index.html">David Tew</a> (Bristol, UK)</li>
        <li> <a href="http://www.uni-stuttgart.de/theochem/groups/werner/">Hans-Joachim Werner</a> (Stuttgart, Germany)</li>
        <li> <a href="https://www.chemistry.msu.edu/faculty-research/faculty-members/angela-k-wilson/">Angela Wilson</a> (East Lansing (MI), USA)</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <p></p>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Machine learning and data-driven approaches in chemical physics</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h5>
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://matter.toronto.edu/wp-content/uploads/2018/03/aspuru-guzik-profile-2.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://matter.toronto.edu/about-us/">
                 Alán Aspuru-Guzik
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Toronto, Canada
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://pbs.twimg.com/profile_images/729637954566639616/PQLbcX7h_400x400.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://dr-dral.com/">
                 Pavlo Dral
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> MPI für Kohlenforschung, Mülheim, Germany
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h5>
      <ul class="list-unstyled mb-0">
        <li> <a href="http://matter.toronto.edu/about-us/">Alan Aspuru-Guzik</a> (Toronto, Canada)</li>
        <li> <a href="http://clementiresearch.rice.edu/">Cecilia Clementi</a> (Houston (TX), USA)</li>
        <li> <a href="http://dr-dral.com/">Pavlo Dral</a> (Mühlheim an der Ruhr, Germany)</li>
        <li> <a href="http://hachmannlab.cbe.buffalo.edu/">Johannes Hachmann</a> (Buffalo (NY), USA)</li>
        <li> <a href="http://olexandrisayev.com/">Olexandr Isayev</a> (Chapel Hill (NC), USA)</li>
        <li> <a href="https://wwwfr.uni.lu/recherche/fstc/physics_and_materials_science_research_unit/people/alexandre_tkatchenko">Alexandre Tkatchenko</a> (Luxembourg)</li>
      </ul>
    </div>
     <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Computational biophysics</h3> 
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.chem.ed.ac.uk/sites/default/files/styles/staff_portrait/public/staff/duarte.png?itok=aOSPi5Pa" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://fduartegroup.org//">
                 Fernanda Duarte
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Edinburgh, UK
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://lcbc.epfl.ch/files/content/sites/lcbc/files/images/photo_roethlisberger.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://lcbc.epfl.ch/roethlisberger">
                 Ursula Röthlisberger
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> EPFL, Switzerland
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Path-integral methods</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h3> 
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://royalsociety.org/~/media/events/2018/04/chemical-dynamics/david-manolopoulos.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://manolopoulos.chem.ox.ac.uk/">
                 David E. Manolopoulos
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Oxford, UK
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://chemistry.uchicago.edu/sites/default/files/Voth.jpeg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://chemistry.uchicago.edu/faculty/gregory-voth/">
                 Gregory Voth
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Chicago, USA
              </span>
            </div>
          </li>
        </ul>
      </div>
      <!-- End Chairs -->
    </div>
    <p></p>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h3> 
      <ul class="list-unstyled mb-0">
	<li> <a href="http://www-stuart.ch.cam.ac.uk/">Stuart Althorpe</a> (Cambridge, UK)</li>
	<li> <a href="http://ananth.chem.cornell.edu/">Nandini Ananth</a> (Ithaca (NY), USA)</li>
	<li> <a href="http://chem.qc.cuny.edu/~sjjang/">Seogjoo Jang</a> (Flushing (NY), USA)</li>
	<li> <a href="http://old.chem.pku.edu.cn/liujian/members.html">Jian Liu</a> (Beijing, China)</li>
	<li> <a href="http://www.scs.illinois.edu/~makri/">Nancy Makri</a> (Urbana-Champagne (IL), USA)</li>
	<li> <a href="http://manolopoulos.chem.ox.ac.uk/">David Manolopoulos</a> (Oxford, UK)</li>
	<li> <a href="https://www.ucl.ac.uk/physics-astronomy/people/professor-angelos-michaelides">Angelos Michaelides</a> (London, UK) </li>
	<li> <a href="http://paesanigroup.ucsd.edu/">Francesco Paesani </a>(San Diego (CA), USA) </li>
	<li> <a href="http://www.richardson.ethz.ch/">Jeremy Richardson</a> (Zürich, Switzerland)</li>
	<li> <a href="http://www.fhi-berlin.mpg.de/~rossi/personal_fhi/Main.html">Mariana Rossi</a> (Berlin, Germany) </li>
	<li> <a href="http://www.science.uwaterloo.ca/~pnroy/">Pierre-Nicholas Roy</a> (Waterloo, Canada) </li>
	<li> <a href="https://wp.nyu.edu/tuckerman_group/">Mark Tuckerman</a> (New York, USA)</li>
	<li> <a href="https://vothgroup.uchicago.edu/">Gregory A. Voth</a> (Chicago, USA)</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Physical organic chemistry and catalysis</h3> 
      <h5 class="h5 g-color-black text-uppercase mb-2">Session chairs:</h3> 
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://www.ctcc.no/people/professor-ii/eisenstein/odile-150.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://www.icgm.fr/odile-eisenstein/">
                 Odile Eisenstein
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> ICGM, Montpellier, France
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="http://jensen.uib.no/img/Vidar_new4_crop.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://jensen.uib.no/load.php/">
                 Vidar Remi Jensen
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> University of Bergen, Norway
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
    <div class="text-center">
      <h5 class="h5 g-color-black text-uppercase mb-2">Confirmed speakers:</h3>
      <ul class="list-unstyled mb-0">
        <li> <a href="https://feygroupchem.wordpress.com/">Natalie Fey</a> (Bristol, UK)</li>
        <li> <a href="https://en.uit.no/om/enhet/ansatte/person?p_document_id=77623&p_dimension_id=88139">Kathrin Hopmann</a> (Tromsø, Norway)</li>
        <li> <a href="http://qchem.kaist.ac.kr/professor.html">Yousung Jung</a> (Daejeon, Korea)</li>
        <li> <a href="http://hjkgrp.mit.edu/">Heather J. Kulik</a> (Cambridge (MA), USA)</li>
        <li> <a href="http://www.ucdenver.edu/faculty-staff/hlin/Pages/default.aspx">Hai Lin</a> (Denver (CO), USA)</li>
        <li> <a href="http://www.reiher.ethz.ch/">Markus Reiher</a> (Zürich, Switzerland)</li>
      </ul>
    </div>
    <div class="text-center">
      <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
    </div>
    <!-- End Heading -->
    <div class="text-center">
      <h3 class="h3 g-color-black text-uppercase mb-2">Janos Ladik Memorial Symposium</h3> 
    </div>
    <p></p>
    <div class="row g-mb-30">
      <!-- Chairs -->
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://i1.rgstatic.net/ii/profile.image/277170959208459-1443094114995_Q512/Erkki_Braendas.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="http://katalog.uu.se/profile/?id=XX906">
                 Erkki Brändas
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> Uppsala University, Sweden
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <ul class="list-unstyled mb-0">
          <li class="media u-shadow-v11 rounded g-pa-20 g-mb-10">
            <div class="d-flex align-self-center g-mt-3 g-mr-15">
              <img class="g-width-40 g-height-40" src="https://media.snl.no/system/images/36707/standard_Kenneth-mini.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-weight-600 g-mb-3" 
                 href="https://uit.no/om/enhet/ansatte/person?p_document_id=41020&p_dimension_id=88107">
                 Kenneth Ruud
              </a>
              <span class="g-font-size-13 g-color-gray-dark-v4 g-mr-15">
                  <i class="icon-location-pin g-pos-rel g-top-1 mr-1"></i> UiT The Arctic University of Norway
              </span>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 g-mb-40 g-mb-0--lg">
      </div>
      <!-- End Chairs -->
    </div>
  </div>
  <!-- End Local Committee -->
</section>
