<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<section class="g-py-100">
  <div class="container">
    <header class="g-mb-30  g-color-black">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           Travel
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
          Tromsø is best reached by <hyperlink>air</hyperlink>, and this is
          really the only means of transportation we recommend. However, the
          more adventurous conference participants may consider to arrive by <hyperlink>train and
          bus</hyperlink>, by <hyperlink>boat</hyperlink> or by <hyperlink>car</hyperlink>.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          <hyperlink><b>Air travel</b></hyperlink></br>
          Tromsø (airport code: TOS) has a fairly large airport with about 100 daily departures and
          arrivals. For most travellers, you would first fly to the Norwegian
          capital of Oslo and from there fly with either SAS or Norwegian
          directly to Tromsø, which is a flight of slightly less than 2 hours
          duration.
        </p>
        <p class="lead mb-0">
          You may also consider flying to Bergen or Trondheim, and catch direct
          flights from there to Tromsø with either Widerøe (from Bergen) or SAS
          (from Trondheim with a stop-over in Bodø).
        </p>
        <p class="lead mb-0">
          There are also seasonal direct flights to currently 11 international
          destinations: Brussels, Frankfurt, Gdansk, Gran Canaria, Helsinki,
          Kittilä, Copenhagen, London, München, Stockholm and Zürich.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          <hyperlink><b>To/from the airport</b></hyperlink></br>
          The airport is located about 5 km from the downtown Tromsø and the
          conference venue and conference hotels. A taxi will cost you around
          NOK 300. You may also take the <a href="https://www.bussring.no/airport-express/">airport bus</a> 
          which departs rather soon after all luggage has been delivered for each flight. The airport bus
          costs NOK 100 for regular tickets, NOK 80 for seniors and NOK 70 for
          students with a student ID. There are also 
          <a href="https://www.tromskortet.no/?lang=en_GB">regular bus services (lines 40 and 42)</a> 
          that bring you downtown for NOK 50.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          <hyperlink><b>Travel by train/bus</b></hyperlink></br>
          Tromsø is not served by any trains 
          (though there is a <a href="http://jernbanestasjon.no/">railway station</a> pub close to
          the conference venue). However, there are daily train services from
          Stockholm to Narvik, from which you can take a 
          <a href="https://www.tromskortet.no/getfile.php/1318634-1530266423/Rutetabeller%20%28pdf%29/2018/Hovedtermin%20%28jan.%2018%20-jan.%2019%29/100_080118%281%29.pdf">bus service to Tromsø</a>. 
          The bus from Narvik to Tromsø takes about 4,5 hours.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          <hyperlink><b>Arrival by boat</b></hyperlink></br>
          Tromsø is served daily by 
          <a href="https://www.hurtigruten.co.uk/destinations/norway/">Hurtigruten</a> 
	  that runs from Bergen to Kirkenes and back. This is a highly
          popular tourist activity in summer, and early reservations are recommended. The
          trip from Bergen to Tromsø takes 4,5 days, from Trondheim to Tromsø takes 2,5
          days, and from Kirkenes to Tromsø takes 2 days. On the trip from Bergen and
          Trondheim to Tromsø, you get to experience the <a href="https://www.cntraveler.com/gallery/13-photos-that-will-make-you-want-to-visit-norways-lofoten-islands"> Lofoten islands</a> and pass the
          <a href="https://www.thewholeworldisaplayground.com/drive-arctic-circle-norway-roadtrip/">arctic circle</a>, on the trip from Kirkenes, you may visit the <a href="https://www.nordkapp.no/en/">North Cape</a>.
        </p>
      </div>

      <div class="g-mb-30">
        <p class="lead mb-0">
          <hyperlink><b>Arrival by car</b></hyperlink></br>
          Tromsø is quite far from most places. Although driving through Norway
          along the E6/E8, through Sweden along either the E4 or the E10, or through Finland on E8,
          can be a scenic drive, it will also be a journey that will take around
          16-22 hours from Oslo, Stockholm or Helsinki. Should you consider doing
          this, we recommend spending even more days to allow you to enjoy the
          scenary, in particular if driving through Norway.
        </p>
      </div>

    </header>
  </div>
</section>
