<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<section class="g-py-100">
  <div class="container">
    <header class="g-mb-30">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           Venue
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
	  The conference will be held at 
          <a href="https://www.nordicchoicehotels.com/hotels/norway/tromso/clarion-hotel-the-edge/">
          Clarion Hotel The Edge
          </a>,
          which is also the recommended hotel for accommodation.
        </p>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
	  The hotel was opened in 2014, and has won a number of national and
          international
          <a href="http://nielstorp.no/2016-clarion-the-edge-hotel-winner-of-the-european-property-award-hotel-architecture/">
          hotel awards
          </a>,
          and is ranked #9 in the 2017 
          <a href="https://www.tripadvisor.com/TravelersChoice-Hotels-cTop-g190455">
          TripAdvisor Travellers Award
          </a>
          .
        </p>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
	  The hotel is situated at the waterfront in downtown Tromsø, providing
          excellent views of the surrounding mountains and fjords, while being located at
          the centre of the lively downtown area.
        </p>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
	  We have negotiated very favorable accommodation prices in the hotel
          and reserved all rooms in the hotel for the conference, which we believe will
          help stimulate interactions and create a sense of intimacy while the scope of
          the talks and posters will give a comprehensive overview of the field of
          theoretical chemical physics.
        </p>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
	  As the sun will not set during the conference, we expect the Skybar
          on the 11th floor to be a favorite location for scientific discussion long into
          the night, but a variety of places are of course available in downtown Tromsø. 
        </p>
      </div>
    </header>
  </div>
</section>
