<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
  <!-- Parallax Image -->
  <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" 
       style="height: 200%; background-image: url(assets/img/tromso/Tromso_Michal.jpg);">
  </div>
  <!-- End Parallax Image -->
  <!-- Promo Block Content -->
  <div class="container g-color-white text-center g-py-120">
    <p class="g-font-weight-300 g-font-size-22 text-uppercase"></p>
  </div>
  <!-- Promo Block Content -->
</section>
<!-- End Promo Block -->

<section class="g-py-100">
  <div class="container">
    <header class="g-mb-50 g-color-black">
      <div class="text-center">
        <h2 class="h3 g-color-black text-uppercase mb-2">
           Welcome
        </h2>
        <div class="d-inline-block g-width-55 g-height-2 g-bg-primary mb-2"></div>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
           On behalf of the local organizing committee, it is a great pleasure for me to
           wish you all welcome to the 10th triennial congress of the International
           Society of Theoretical Chemical Physics, ISTCP-2019. With a combination of
           excellent science and a unique location 350 kilometers north of the arctic
           circle, the conference will provide a unique opportunity to be updated on the
           latest scientific development and to develop new scientific ideas.
        </p>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
           We are still in an early phase of preparing the program, which will follow the
           successful recipe of earlier conferences, but it will consist of plenary
           speakers, invited and contributed talks to a series of parallel sessions as
           well as poster presentations. The compact and centrally located venue, in
           combination with the fresh arctic air and a sun that will never set during the
           time of the conference, should help create an atmosphere that stimulates
           scientific exchange.
        </p>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
           For many, the conference will be the first opportunity to visit the arctic and
           Tromsø in particular (though hopefully not the last), and I encourage you use
           the opportunity to also explore larger parts of Northern Norway either prior to
           or after conference. We will organize several tour options for the free
           afternoon of the conference, as well as the option to participate at a midnight
           sun concert or to take a cable car (or hike) to the top of a mountain
           overlooking the entire Tromsø city.
        </p>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
            I look forward to welcoming you to the 10th congress of the ISTCP 2019.
        </p>
      </div>
      <div class="g-mb-30">
        <p class="lead mb-0">
          Kenneth Ruud (Chair)
        </p>
      </div>
    </header>
  </div>
</section>
